<%inherit file="base.html"/>

<%def name="title()">
%if entity:
${entity["name"]} | address
%elif entity_list in obj and len(obj[entity_list]) == 1:
${obj[entity_list][0]["name"]} | address
%else:
Address ${obj["id"]}
%endif
</%def>

<%def name="page()">

<h1>
%if entity:
<h1>
  <a
     href="${url_rewrite(entity["url"], parameters)}"
     >${entity["name"]}</a>
  | address
</h1>
%elif entity_list in obj and len(obj[entity_list]) == 1:
<h1>
  <a
     href="${url_rewrite(obj[entity_list][0]["url"], parameters)}"
     >${obj[entity_list][0]["name"]}</a>
  | address
</h1>
%else:
<a
   href="${url_rewrite(obj["url"], parameters)}"
   >Address ${obj["id"]}</a>
%endif
</h1>

  <div id="mango-map-box">
    <div id="mango-map-canvas">Map loading...</div>
  </div>

  %if current_user:
  <div class="box right" id="address-form">
    <div class="form-hint">
      <p>Enter a postal address and a source where it can be verified.</p>
    </div>
<%
action = entity and "%s/address" % entity["url"] or obj["url"]
%>
    <form action="${action}" method="post">
      <input name="_xsrf" type="hidden" value="${xsrf}">
      %if obj:
      <input name="_method" type="hidden" value="put">
      %endif
      %if entity:
      <input name="next" type="hidden" value="${entity["url"]}">
      %elif entity_list in obj and len(obj[entity_list]) == 1:
      <input name="next" type="hidden" value="${obj[entity_list][0]["url"]}">
      %endif
      <label name="postal"
             status="${obj and obj.get("postal", "") and 'good' or 'bad'}"
	     class="textarea">
	<span>Postal</span>\
	<span class="requirement">(required)</span>
	<textarea name="postal"
                  >${obj and obj.get("postal", "") or ""}</textarea>
      </label>
      <label name="lookup"
             status="${obj and obj.get("lookup", "") and 'good' or ''}"
	     class="textarea">
	<span>Lookup</span>
	<span class="requirement">(optional)</span>
	<textarea name="lookup"
		  placeholder="A machine-comprehensible version of the address
			       can be added if the postal address is not
			       understood."
                  >${obj and obj.get("lookup", "") or ""}</textarea>
      </label>
      <input name="latitude" type="hidden"
	     value="${obj and obj.get("latitude", "") or ""}">
      <input name="longitude" type="hidden"
	     value="${obj and obj.get("longitude", "") or ""}">
      <input name="manual_latitude" type="hidden"
	     value="${obj and obj.get("manual_latitude", "") or ""}">
      <input name="manual_longitude" type="hidden"
	     value="${obj and obj.get("manual_latitude", "") or ""}">
      <label name="source"
	     status="${obj and obj.get("source", "") and 'good' or 'bad'}"
	     class="textarea">
	<span>Source</span>
	<span class="requirement">(required)</span>
	<textarea name="source"
		  placeholder="One or more external links or publications where
			       the address can be verified,
			       eg. www.example.com/address,
			       Janes Defence issue 123."
                  >${obj and obj.get("source", "") or ""}</textarea>
      </label>

      ${self.mini.visibility_input(obj, 'public')}
      <input type="submit" value="Save">
    </form>

  </div>
  %else:
  <div class="box right" id="address-form">
    <h3>Address</h3>
    <span 
       latitude="${obj and (obj.get("manual_latitude", "") or obj.get("latitude", "")) or ""}"
       longitude="${obj and (obj.get("manual_longitude", "") or obj.get("longitude", "")) or ""}"
       >
    <p>
    ${obj["postal"] | n, h, unicode, newline}
    </p>
    <h3>Source</h3>
    <p>
    ${obj["source"] | n, h, convert_links}
    </p>
  </div>
  %endif

%if obj and "note_list" in obj:
${self.mini.render_note_section(obj["note_list"],
    obj["url"] + "/note", obj["url"],
    note_search, note_order, unlink_url=obj["url"]
)}
%endif

</div>

</%def>
