<%inherit file="base.html"/>

<%def name="title()">Addresses</%def>

<%def name="page()">

<h1>Addresses</h1>

<table>
  <tbody>
    % for address in address_list:
    <tr>
      <td><a href="${address.url}">${address.postal | n, h, unicode, newline}</a></td>
      <td>${address.repr_coordinates(address.longitude, address.latitude)}</a></td>
    </tr>
    % endfor
  </tbody>
</table>

Add address
<form action="${uri}" method="post">
  <input name="_xsrf" type="hidden" value="${xsrf}">
  <label>
    <span>Postal</span>
    <textarea name="postal"></textarea>
  </label>
  <label>
    <span>Lookup</span>
    <textarea name="lookup"></textarea>
  </label>
  <label>
    <span>Longitude</span>
    <input name="longitude" value="">
  </label>
  <label>
    <span>Latitude</span>
    <input name="latitude" value="">
  </label>
  <input type="submit">
</form>

</%def>

</body>

</html>
