<%inherit file="base.html"/>

<%def name="title()">Addresses</%def>

<%def name="page()">

<h1>Addresses</h1>

<ul id="all_addresss">
  % for address in address_list:
  <li><a href="${address.url}">${address.postal | n, h, unicode, newline}</a></li>
  % endfor
</ul>

Add address
<form action="${uri}" method="post">
  <input name="_xsrf" type="hidden" value="${xsrf}">
  <label>
    <span>Postal</span>
    <textarea name="postal"></textarea>
  </label>
  <label>
    <span>Lookup</span>
    <textarea name="lookup"></textarea>
  </label>
  <label>
    <span>Longitude</span>
    <input name="longitude" value="">
  </label>
  <label>
    <span>Latitude</span>
    <input name="latitude" value="">
  </label>
  <input type="submit">
</form>

</%def>

</body>

</html>
