<%inherit file="base.html"/>


<%def name="title()">
%if entity:
${entity["name"]} | address
%else:
Address ${obj["id"]}
%endif
</%def>

<%def name="logout_url()">
<% return obj and obj.get("public", True) and uri or "/" %>
</%def>

<%def name="page()">

<h1>
%if entity:
  <a
     href="${url_rewrite(entity["url"])}"
     >${entity["name"]}</a>
  | address
%else:
<a
   href="${url_rewrite(obj["url"])}"
   >Address ${obj["id"]}</a>
%endif
</h1>

  <div id="mango-map-box">
    <div id="mango-map-canvas">Map loading...</div>
  </div>

  <div class="form-by-map" id="address-form">
    ${self.mini.visibility_bar(obj)}

    %if current_user and (parameters.get("view", None) == "edit"):
    %if edit_block:
    <p class="warning">Editing is disabled because <a href="${url_rewrite(version_url)}">pending suggested revisions</a> exist.</p>
    ${address_browse(obj)}
    %else:
    <h3>Address</h3>

    <div class="form-hint">
      <p>Enter a postal address and a source where it can be verified.</p>
    </div>

<%
action = (entity and not obj) and "%s/address" % entity["url"] or obj["url"]
next = None
if entity:
    next = entity["url"]
%>

    <form
       class="mango"
       action="${url_rewrite(action)}"
       method="post"
       >
      <input name="_xsrf" type="hidden" value="${xsrf}">
      %if obj:
      <input name="_method" type="hidden" value="put">
      %endif
      %if next:
      <input name="next" type="hidden" value="${url_rewrite(next, parameters={})}">
      %endif
      <label name="postal"
             status="${obj and obj.get("postal", "") and 'good' or 'bad'}"
	     class="textarea">
	<span>Postal</span>\
	<span class="requirement">(required)</span>
	<textarea name="postal"
                  >${obj and obj.get("postal", "") or ""}</textarea>
      </label>
      <label name="lookup"
             status="${obj and obj.get("lookup", "") and 'good' or ''}"
	     class="textarea">
	<span>Lookup</span>
	<span class="requirement">(optional)</span>
	<textarea name="lookup"
		  placeholder="A machine-comprehensible version of the address
			       can be added if the postal address is not
			       understood."
                  >${obj and obj.get("lookup", "") or ""}</textarea>
      </label>
      <input name="latitude" type="hidden"
	     value="${obj and obj.get("latitude", "") or ""}">
      <input name="longitude" type="hidden"
	     value="${obj and obj.get("longitude", "") or ""}">
      <input name="manual_latitude" type="hidden"
	     value="${obj and obj.get("manual_latitude", "") or ""}">
      <input name="manual_longitude" type="hidden"
	     value="${obj and obj.get("manual_latitude", "") or ""}">
      <label name="source"
	     status="${obj and obj.get("source", "") and 'good' or 'bad'}"
	     class="textarea">
	<span>Source</span>
	<span class="requirement">(required)</span>
	<textarea name="source"
		  placeholder="One or more external links or publications where
			       the address can be verified,
			       eg. www.example.com/address,
			       Janes Defence issue 123."
                  >${obj and obj.get("source", "") or ""}</textarea>
      </label>
      ${self.mini.visibility_input(obj, "public")}
      <input type="submit" value="Save">
    </form>

    %endif
    %else:
    ${address_browse(obj)}
    %endif
  </div>

%if obj and "note_list" in obj:
${self.mini.render_note_section(obj["note_list"],
    obj["url"] + "/note", obj["url"],
    note_search, note_order, unlink_url=obj["url"],
    parameters=parameters
)}
%endif

</%def>



<%def name="address_browse(obj)">
<h3>Address</h3>
    
%if obj:
<span 
   latitude="${obj and (obj.get("manual_latitude", "") or obj.get("latitude", "")) or ""}"
   longitude="${obj and (obj.get("manual_longitude", "") or obj.get("longitude", "")) or ""}"
   >
</span>
<p>
  ${obj["postal"] | n, h, unicode, newline}
</p>
<h3>Source</h3>
<p>
  ${obj["source"] | n, h, convert_links}
</p>
%endif
</%def>
