<%inherit file="base.html"/>



<%def name="title()">
%if obj:
${obj["org"]["name"]} | ${obj["name"]}
%else:
New ${type_title} Alias
%endif
</%def>



<%def name="page()">

<h1>
%if obj:
<a
   href="${url_rewrite(obj["org"]["url"])}"
   >${obj["org"]["name"]}</a>
 | 
<a
   href="${url_rewrite(obj["url"])}"
   >${obj["name"]}</a>
%else:
New ${type_title} Alias
%endif
</h1>

<div class="section">
<%

action = "/%s-alias" % type_url
put = False
if obj:
    action = obj["url"]
    put = True

%>

  <div class="box left" id="alias-form">
    <form
       action="${url_rewrite(action)}"
       method="post"
       >
      <input name="_xsrf" type="hidden" value="${xsrf}">
      %if put:
      <input name="_method" type="hidden" value="put">
      %endif
      <label name="name">
	<span>Name</span>
	<input name="name" value="${obj and obj["name"] or ''}">
      </label>
      ${self.mini.visibility_input(obj, "public")}
      <input type="submit" value="Submit">
    </form>

    ${self.mini.delete_input(
      obj,
      next_=(obj and obj["org"]["url"] or None),
    )}
  </div>

</div>

</%def>
