<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset=utf-8 />
    <title>Diary</title>
  </head>

  <body>

    %if event_packet:
    <table class="eventlist justify" cellspacing="0">
      <col class="eventdate" />
      <col class="eventdetails" />
      <tr>
        <th>Date</th>
        <th>Event</th>
      </tr>
      %for event in event_packet["eventList"]:
      <%
         tag_list = [tag["baseShort"] for tag in event["eventtagList"]]
         %>
      %if "weekly" in tag_list or "monthly" in tag_list:
      <% continue %>
      %endif
      <tr>
        <td>
          ${event["startDate"] | n, page_date_format(format_="%-d %B %Y")}<br/>
          %if "caat" in tag_list:
          <img src="${url_root}static/image/caat-icon.png" alt="CAAT" title="CAAT Event" /><br/>
          %endif
        </td>
        <td>
          <p class="eventtitle">${event["name"]}</p>

          %if current_user:
          <p><a
             href="${url_rewrite(event["url"])}"
             >Edit</a></p>
          %endif
          </p>

          <p class="eventtimeplace">${event | n, page_period}</p>
          
          %if event.get("addressList", None):
          %for address in event["addressList"]:
          <p class="eventtimeplace">${address["postal"] | n, h, unicode, newline_comma} (<a href="${url_rewrite(address["url"])}">map</a>)</p>
          %endfor
          %endif
          
          %if event.get("description", None):
          <p>${event["description"] | n, markdown_safe, convert_links}</p>
          %endif
        </td>
      </tr>
      %endfor
    </table>

    <h3>Regular Events</h3>

    <table class="eventlist justify" cellspacing="0">
      <col class="eventdate" />
      <col class="eventdetails" />
      <tr>
        <th>Date</th>
        <th>Event</th>
      </tr>
      %for event in event_packet["eventList"]:
      <%
         tag_list = [tag["baseShort"] for tag in event["eventtagList"]]
         %>
      %if not ("weekly" in tag_list or "monthly" in tag_list):
      <% continue %>
      %endif
      <tr>
        <td>
          %if "weekly" in tag_list:
          Weekly<br/>
          %endif
          %if "monthly" in tag_list:
          Monthly<br/>
          %endif
          %if "caat" in tag_list:
          <img src="${url_root}static/image/caat-icon.png" alt="CAAT" title="CAAT Event" /><br/>
          %endif
        </td>
        <td>
          <p class="eventtitle">${event["name"]}</p>

          %if current_user:
          <p><a
             href="${url_rewrite(event["url"])}"
             >Edit</a></p>
          %endif
          </p>

          <p class="eventtimeplace">${event | n, page_period}</p>

          %if event.get("addressList", None):
          %for address in event["addressList"]:
          <p class="eventtimeplace">${address["postal"] | n, h, unicode, newline_comma} (<a href="${url_rewrite(address["url"])}">map</a>)</p>
          %endfor
          %endif
          
          %if event.get("description", None):
          <p>${event["description"] | n, markdown_safe, convert_links}</p>
          %endif
        </td>
      </tr>
      %endfor
    </table>
    %endif

    %if footer:
    ${footer | n}
    %else:

  </body>

</html>

%endif

<%namespace name="mini" file="mini.html" inheritable="True"/>
