<%inherit file="base.html"/>

<%def name="title()">${obj["name"]} | Edit tags</%def>

<%def name="page()">

<h1>
  <a
     href="${url_rewrite(obj["url"], parameters)}"
     >${obj["name"]}</a> | Edit tags
</h1>

<div class="section">

<div class="box left">
  <h3>Current Tags</h3>

<%
path_dict = {}
for tag in obj[type_tag_list]:
    if not tag["path"] in path_dict:
        path_dict[tag["path"]] = []
    path_dict[tag["path"]].append(tag)
path_keys = sorted(path_dict.keys())
if None in path_keys:
    path_keys.append(path_keys.pop(path_keys.index(None)))
%>

%for key in path_keys:
<h4>${key or "Other"}</h4>
<ul class="tag_list">
  %for tag in path_dict[key]:
  ${self.mini.tag_li(tag, entity=False, note=False,
  link_url="%s/tag/%s" % (obj["url"], tag["id"]),
  unlink=True, next=uri,
  visibility=True)}
  %endfor
</ul>
%endfor

</div>    

<div class="box right">
  <h3>Available Tags</h3>

  <div class="action-bar">
    <form id="tag-search">
      <label name="search">
        <span>Search</span>
        <input name="search" value="${search or ''}">
      </label>
      <label name="past">
        <span>Path</span>
        <input type="checkbox" name="path" value="1"${path and ' checked="checked"' or ''}>
      </label>
      ${self.mini.visibility_search_input(visibility, current_user)}
      <input type="submit">
    </form>

    <ul class="actions">
      <a
         class="action"
         href="${url_rewrite("/%s-tag/new" % type_url, dict(
                                      parameters,
                                      next=url_rewrite(uri, parameters),
                                      ))}"
         >Create a tag</a>
    </ul>

  </div>

  <ul id="tag_list" class="tag_list">
    <%
       tag_id_list = [tag["id"] for tag in obj[type_tag_list]]
       %>
    %for tag in tag_list:
    %if tag["id"] not in tag_id_list:
    ${self.mini.tag_li(tag, entity={
      "len": type_length,
      "url": type_url,
      }, note=False, path=path,
      link_url="%s/tag/%s" % (obj["url"], tag["id"]),
      link=True, next=uri,
      visibility=True, parameters=parameters)}
    %endif
    %endfor
  </ul>
  
</div>

</div>

</%def>

