<%inherit file="base.html"/>

<%def name="title()"><%
return obj["name"] + u" | Edit tags"
%></%def>

<%def name="page()">

<h1>
  <a
     href="${url_rewrite(obj["url"])}"
     >${obj["name"]}</a> | Edit tags
</h1>

<div class="section">

<div class="mango-box left">
  <h3>Current Tags</h3>

<%
path_dict = {}
for tag in obj[type_tag_list]:
    if not tag["path"] in path_dict:
        path_dict[tag["path"]] = []
    path_dict[tag["path"]].append(tag)
path_keys = sorted(path_dict.keys())
if None in path_keys:
    path_keys.append(path_keys.pop(path_keys.index(None)))

tag_id_list = [tag["id"] for tag in obj[type_tag_list]]
group_key = group_tag_list and group_tag_list[0]["path"]
%>

%for key in path_keys:
%if key == group_key:
<% continue %>
%endif
<h4>${key or "Other"}</h4>
<ul class="tag_list">
  %for tag in path_dict[key]:
  ${self.mini.tag_li(tag, entity=False, note=False,
  link_url="%s/tag/%s" % (obj["url"], tag["id"]),
  unlink=True, next_=uri,
  visibility=True, parameters=parameters)}
  %endfor
</ul>
%endfor

</div>


<div class="mango-box right">
  %if path_list:
  <form
     action="${url_rewrite(obj["url"] + "/tag", parameters)}"
     >
    ${self.mini.form_parameters()}
    <label>
      <span>Group view:</span>
      <select name="group">
        <option value=""></option>
        %for path_full, path_short in path_list:
        <option value="${path_short}"${' selected' if path_short == group else ""}>${path_full}</option>
        %endfor
      </select>
    </label>
    <input type="submit" value="Update view">
  </form>
  %endif

  %if group_tag_list:

  <h3>${group_key} Tags</h3>

  <form
     action=""
     method="post"
     id="group-tag"
     >
    <input name="_xsrf" type="hidden" value="${xsrf}">

    <input type="hidden" name="group" value="${group}">

    <input type="submit" value="Submit"> <br>

    <div class="group-tag-columns">
      <div class="group-tag-column">
        %for tag in group_tag_list[:(len(group_tag_list) + 1)/2]:
        <label>
          <input type="checkbox" name="tag" value="${tag['id']}"${' checked' if tag['id'] in tag_id_list else ''}>
          <span>${tag['base'].split(" : ")[-1]}</span>
        </label>
        %endfor
      </div>
      <div class="group-tag-column">
        %for tag in group_tag_list[(len(group_tag_list) + 1)/2:]:
        <label>
          <input type="checkbox" name="tag" value="${tag['id']}"${' checked' if tag['id'] in tag_id_list else ''}>
          <span>${tag['base'].split(" : ")[-1]}</span>
        </label>
        %endfor
      </div>
    </div>

    <input type="submit" value="Submit">

  </form>

  %else:

  <h3>Available Tags</h3>

  <div class="action-bar">
    <form id="tag-search">
      ${self.mini.form_parameters()}
      <label name="search">
        <span>Search</span>
        <input name="search" value="${search or ''}">
      </label>
      <label name="past">
        <span>Path</span>
        <input type="checkbox" name="path" value="1"${path and ' checked="checked"' or ''}>
      </label>
    <label name="order">
      <span>Order by</span>
      <select name="sort">
        <option value="freq"
                ${sort in ("freq", None) and "selected='selected'" or ""}
                >Frequency</option>
        <option value="name"
                ${sort == "name" and "selected='selected'" or ""}
                >Name</option>
        <option value="date"
                ${sort == "date" and "selected='selected'" or ""}
                >Date</option>
      </select>
    </label>
    <div class="actions">
      <input type="submit" value="Submit">
    </div>
    </form>

    <ul class="actions">
      <a
         class="action"
         href="${url_rewrite("/%s-tag/new" % type_url, next_=uri)}"
         >Create a tag</a>
    </ul>

  </div>

  <ul id="tag_list" class="tag_list">
    %for tag in tag_list:
    %if tag["id"] not in tag_id_list:
    ${self.mini.tag_li(tag, entity=True, note=False, path=path,
      link_url="%s/tag/%s" % (obj["url"], tag["id"]),
      link=True, next_=uri,
      visibility=True, parameters=parameters)}
    %endif
    %endfor
  </ul>
  
  %endif

</div>

</div>

<script type="text/javascript">
currentTagList = ${[int(tag["id"]) for tag in obj[type_tag_list]]};
</script>

</%def>

