<%inherit file="base.html"/>

<%def name="title()">${obj and obj["name"] or "New Event"}</%def>

<%def name="page()">

<h1>
  %if obj:
  <a
     href="${url_rewrite(obj["url"], parameters)}"
     >${obj["name"]}</a>
  %else:
  New Event
  %endif
</h1>

<div class="section">

  <div id="mango-map-box">
    <div id="mango-map-canvas">Map loading...</div>

    <!-- Description Preview Start -->
    %if current_user:
    <hr />
    <h3>Description Preview</h3>
    <div class="description markdown markdown-preview">
      %if obj and obj["description"]:
      ${obj["description"] | n, markdown_safe, convert_links}
      %endif
    </div>
    %endif
    <!-- Description Preview End -->

    <!-- Organisations Start -->
    %if obj:
    <hr />
    <div class="action-bar no-border">
      <h3>Organisations</h3>

      %if current_user:
      <div class="actions">
        <a
           href="${url_rewrite("%s/organisation" % obj["url"], parameters)}"
           class="action"
           >Edit organisations</a>
      </div>
      %endif
    </div>

    %if obj and "org_list" in obj:
    <ul class="org_list">
      %for org in obj["org_list"]:
      ${self.mini.org_box(
        org, parameters=parameters,
        )}
      %endfor
    </ul>
    %else:
    No organisations linked yet.
    %endif
    %endif
    <!-- Organisations End -->

    <!-- Tags Start -->
    %if obj:
    <hr />
    <div class="action-bar no-border">
      <h3>Tags</h3>

      %if current_user:
      <div class="actions">
        <a
           href="${url_rewrite("%s/tag" % obj["url"], parameters)}"
           class="action"
           >Edit tags</a>
      </div>
      %endif
    </div>

    %if "eventtag_list" in obj:

<%
type_tag_list = "eventtag_list"

path_dict = {}
for tag in obj[type_tag_list]:
    if not tag["path"] in path_dict:
        path_dict[tag["path"]] = []
    path_dict[tag["path"]].append(tag)
path_keys = sorted(path_dict.keys(), key=lambda key: len(path_dict[key]))
if None in path_keys:
    path_keys.append(path_keys.pop(path_keys.index(None)))
%>

    %for key in path_keys:
    <h4>${key or "Other"}</h4>
    <ul class="tag_list">
      %for tag in path_dict[key]:
      ${self.mini.tag_li(
        tag, visibility=True, parameters=parameters,
        )}
      %endfor
    </ul>
    %endfor

    %endif
    %endif
    <!-- Tags End -->


  </div>
  
  <div class="form-by-map" id="event-form">
    
    <h3>Event</h3>
    
    %if current_user:
    <form
       class="mango"
       action="${url_rewrite(obj and obj["url"] or '/event', parameters)}"
       method="post"
       >
      <input name="_xsrf" type="hidden" value="${xsrf}">
      %if obj:
      <input name="_method" type="hidden" value="put">
      %endif
      <label
         name="name"
         status="${obj and 'good' or 'bad'}"
         >
	<span>Name</span>
	<span class="requirement">(required)</span>
	<input name="name" value="${obj and obj["name"] or ''}">
      </label>
      <label name="start_date" status="${obj and 'good' or 'bad'}">
	<span>Start Date</span>
	<span class="requirement">(required)</span>
	<input
           name="start_date"
           placeholder="Format is 'YYYY-MM-DD', eg. '2012-07-24'."
           value="${obj and obj["start_date"] | n, form_date}"
           >
      </label>
      <label name="end_date" status="${obj and 'good' or 'bad'}">
	<span>End Date</span>
	<span class="requirement"></span>
	<input
           name="end_date"
           placeholder="Format is 'YYYY-MM-DD', eg. '2012-07-24'."
           value="${obj and obj["end_date"] | n, form_date}"
           >
      </label>
      <label name="start_time" status="${obj and obj["start_time"] and 'good' or ''}">
	<span>Start Time</span>
	<span class="requirement"></span>
	<input
           name="start_time"
           placeholder="Format is 'HH:MM', eg. '19:30'. Times in UK time zone."
           value="${obj and obj["start_time"] | n, form_time}"
           >
      </label>
      <label name="end_time" status="${obj and obj["end_time"] and 'good' or ''}">
	<span>End Time</span>
	<span class="requirement"></span>
	<input
           name="end_time"
           placeholder="Format is 'HH:MM', eg. '19:30'. Times in UK time zone."
           value="${obj and obj["end_time"] | n, form_time}"
           >
      </label>
     <div class="form-hint">
      <p>Enter description using <a href='http://daringfireball.net/projects/markdown/syntax'>Markdown syntax</a>.</p>
    </div>

      <label
         name="description"
         status="${obj and obj.get("description", "") and 'good' or ''}"
         class="textarea"
         >
        <span>Description</span>\
        <span class="requirement"></span>
        <textarea
           name="description"
           >${obj and obj.get("description", "") or ""}</textarea>
      </label>
      
      ${self.mini.visibility_input(obj, "public")}

      <input type="submit">
    </form>

    %if obj:
    <form
       class="mango"
       action="${url_rewrite(obj["url"], parameters)}"
       method="post"
       >
      <input name="_xsrf" type="hidden" value="${xsrf}">
      <input name="_method" type="hidden" value="delete">
      <input type="submit" value="Delete">
    </form>
    %endif










    %else:
    ${obj["name"]}

    <h3>Time</h3>

    ${obj["start_date"] | n, page_date}

    <h3>Description</h3>

    <div class="description-preview markdown">
      %if obj and obj["description"]:
      ${obj["description"] | n, markdown_safe, convert_links}
      %endif
    </div>

    %endif


    %if obj:
    %if "address_list" in obj:
    <div class="action-bar no-border">
      <h3>Addresses</h3>

      %if current_user:
      <div class="actions">
        <a
           href="${url_rewrite("%s/address" % obj["url"], parameters)}"
           class="action"
           >Add address</a>
      </div>
      %endif
    </div>

    %for address in obj["address_list"]:
    ${self.mini.address_box(
      address,
      "%s%s" % (obj["url"], address["url"]), unlink=True,
      parameters=parameters,
      )}
    %endfor
    %endif
    %endif

    %if obj:
    %if current_user:
    <h3>Duplicate Event</h3>

    <form
       class="mango"
       action="${url_rewrite(obj["url"] + "/duplicate", parameters)}"
       method="post"
       >
      <input name="_xsrf" type="hidden" value="${xsrf}">
      <input name="_method" type="hidden" value="post">
      <label name="start_date" status="">
	<span>Duplicate Start Date</span>
	<span class="requirement"></span>
	<input
           name="start_date"
           placeholder="Format is 'YYYY-MM-DD', eg. '2012-07-24'."
           value=""
           >
      </label>
      <input type="submit" value="Duplicate">
    </form>
    %endif
    %endif
  </div>
  
</div>

%if obj and "note_list" in obj:
${self.mini.render_note_section(obj["note_list"],
  obj["url"] + "/note", obj["url"],
  note_search, note_order, unlink_url=obj["url"],
  parameters=parameters,
  )}
%endif

</%def>

