<%inherit file="base.html"/>

<%def name="title()">Events</%def>

<%def name="page()">

<h1>Events</h1>

<div class="action-bar">
  <form id="event-search">
    <h3>Filter</h3>
    ${self.mini.visibility_search_input(parameters.get("visibility", None), current_user)}
    <input type="hidden" name="offset" value="${offset or 0}">
    <div class="inputs">
      <label name="nameSearch">
        <span>Name</span>
        <input
           name="nameSearch"
           value="${name_search or ""}"
           placeholder="Eg. BAE Systems">
      </label>
      <label name="location">
        <span>Location</span>
<%
value = ""
if location:
    if 'name' in location:
        value = location["name"]
    else:
        value = str(location["south"]) + ", " + \
            str(location["north"]) + ", " + \
            str(location["west"]) + ", " + \
            str(location["east"])
%>
        <input
           name="location"
           value="${value}"
           placeholder="Eg. NW1">
      </label>
      <label name="past">
        <span>Show past</span>
        <input type="checkbox" name="past" value="1"${past and ' checked="checked"' or ''}>
      </label>
      <label name="tag">
        <span>Tags</span>
        <input
           name="tag"
           value="${tag_name_list and ", ".join([short for short in tag_name_list]) or ""}"
           placeholder="Eg. missiles, tanks">
      </label>
    </div>
    <div class="actions">
      <input type="submit">
    </div>
  </form>
</div>

<div id="mango-map-box">
  <div id="mango-map-canvas">Map loading...</div>
</div>

<div class="box right" id="event_list">
<div class="action-bar">
  <span class="counts">
    %if event_packet:
    ${self.mini.counts(
      event_packet["event_list"],
      event_packet.get("offset", 0),
      event_packet["event_count"],
      not lookup and query_rewrite(dict(parameters, **{"offset": event_packet.get("offset", 0) + len(event_packet["event_list"])}))
      )}
    %endif
  </span>

  %if current_user:
  <ul class="actions">
    <a
       class="action"
       href="${url_rewrite("/event/new", parameters)}"
       >Create an event</a>
  </ul>
  %endif
</div>

<div class="column">
  %if event_packet:
  %for event in event_packet["event_list"]:
  ${self.mini.event_box(event, geobox=event_packet["geobox"], parameters=parameters) | n}
  %endfor
  %endif
</div>
</div>

</%def>

