<%inherit file="base.html"/>

<%def name="title()">${obj["name"]} | Edit companies</%def>

<%def name="logout_url()"><% return "/" %></%def>

<%def name="page()">

<h1>
  <a
     href="${url_rewrite(obj["url"])}"
     >${obj["name"]}</a> | Edit companies
</h1>

<div class="section">
  <h3>Current companies</h3>

  <ul class="tag_list">
    %for org in obj["org_list"]:
    ${self.mini.org_li(org,
      link_url="%s/organisation/%s" % (obj["url"], org["id"]),
      unlink=True,
      visibility=True,
      parameters=parameters,
    )}
    %endfor
  </ul>
</div>    
    
<div class="section">
  <h3>Available Companies</h3>

  <div class="action-bar">
    <form id="org-search">
      <label name="search">
        <span>Search</span>
        <input name="search" value="${search or ''}">
      </label>
      ${self.mini.visibility_search_input(visibility, current_user)}
      <input type="submit" value="Submit">
    </form>

  </div>

  <ul class="tag_list">
    <%
       org_id_list = [org["id"] for org in obj["org_list"]]
       %>
    %for org in org_list:
    %if org["id"] not in org_id_list:
    ${self.mini.org_li(org,
      link_url="%s/organisation/%s" % (obj["url"], org["id"]),
      link=True,
      visibility=True,
      parameters=parameters,
      alias=True,
    )}
    %endif
    %endfor
  </ul>
  %if org_count > 20:
  <p>Refine search for more results.</p>
  %endif
  
</div>

</%def>

