<%inherit file="base.html"/>



<%def name="title()"><%
return obj and obj["name"] or "New Event"
%></%def>



<%def name="logout_url()">
<% return obj and obj.get("public", True) and uri or "/" %>
</%def>



<%def name="split_tags(tag_list)">
<%

path_dict = {}
for tag in tag_list:
    if not tag["path"] in path_dict:
        path_dict[tag["path"]] = []
    path_dict[tag["path"]].append(tag)
path_keys = sorted(path_dict.keys(), key=lambda key: len(path_dict[key]))
if None in path_keys:
    path_keys.append(path_keys.pop(path_keys.index(None)))

return path_keys, path_dict
%>
</%def>



<%def name="page()">
<%
edit = parameters.get("view", None) == "edit"
%>

<h1>
  %if obj:
  <a
     href="${url_rewrite(obj["url"])}"
     >${obj["name"]}</a>
  %else:
  New Event
  %endif
</h1>

<div class="section">

  <div id="mango-map-box">
    %if obj:
    <div id="mango-map-canvas">Map loading...</div>
    %endif

    <!-- Description Preview Start -->
    %if edit:
    <div class="mango-entity-section">
      <h3>Description Preview</h3>
      <div class="description markdown markdown-preview">
        %if obj and obj["description"]:
        ${obj["description"] | n, markdown_safe, convert_links}
        %endif
      </div>
    </div>
    %endif
    <!-- Description Preview End -->

    <!-- Tags Start -->
    %if obj and (edit or obj.get("eventtag_list", None)):
    <div class="mango-entity-section">

      %if edit and moderator:
      <div class="action-bar no-border">
        <h3>Tags</h3>

        <div class="actions">
          <a
             href="${url_rewrite("%s/tag" % obj["url"])}"
             class="action"
             >Edit tags</a>
        </div>
      </div>
      %endif

      <%
         tag_keys, tag_dict = split_tags(obj["eventtag_list"])
         %>
      %for key in tag_keys:
      <h4>${key or "Other"}</h4>
      <ul class="tag_list">
        %for tag in tag_dict[key]:
        ${self.mini.tag_li(
          tag,
          visibility=True,
          parameters=parameters,
          )}
        %endfor
      </ul>
      %endfor

    </div>
    %endif
    <!-- Tags End -->

  </div>
  
  <div class="form-by-map" id="event-form">
    ${self.mini.visibility_bar(obj)}
    
    %if edit and not edit_block:
    <h3>Event</h3>

    <form
       class="mango"
       action="${url_rewrite(obj and obj["url"] or '/event')}"
       method="post"
       >
      <input name="_xsrf" type="hidden" value="${xsrf}">
      %if obj:
      <input name="_method" type="hidden" value="put">
      %endif
      <label
         name="name"
         status="${obj and 'good' or 'bad'}"
         >
	<span>Name</span>
	<span class="requirement">(required)</span>
	<input name="name" value="${obj and obj["name"] or ''}">
      </label>
      <label name="start_date" status="${obj and 'good' or 'bad'}">
	<span>Start Date</span>
	<span class="requirement">(required)</span>
	<input
           name="start_date"
           placeholder="Format is 'YYYY-MM-DD', eg. '2012-07-24'."
           value="${obj and obj["start_date"] | n, form_date}"
           >
      </label>
      <label name="end_date" status="${obj and 'good' or ''}">
	<span>End Date</span>
	<span class="requirement"></span>
	<input
           name="end_date"
           placeholder="Format is 'YYYY-MM-DD', eg. '2012-07-24'."
           value="${obj and obj["end_date"] | n, form_date}"
           >
      </label>
      <label name="start_time" status="${obj and obj["start_time"] and 'good' or ''}">
	<span>Start Time</span>
	<span class="requirement"></span>
	<input
           name="start_time"
           placeholder="Format is 'HH:MM', eg. '19:30'. Times in UK time zone."
           value="${obj and obj["start_time"] | n, form_time}"
           >
      </label>
      <label name="end_time" status="${obj and obj["end_time"] and 'good' or ''}">
	<span>End Time</span>
	<span class="requirement"></span>
	<input
           name="end_time"
           placeholder="Format is 'HH:MM', eg. '19:30'. Times in UK time zone."
           value="${obj and obj["end_time"] | n, form_time}"
           >
      </label>
      <div class="form-hint">
        <p>Enter description using <a href='http://daringfireball.net/projects/markdown/syntax'>Markdown syntax</a>.</p>
      </div>

      <label
         name="description"
         status="${obj and obj.get("description", "") and 'good' or ''}"
         class="textarea"
         >
        <span>Description</span>\
        <span class="requirement"></span>
        <textarea
           name="description"
           >${obj and obj.get("description", "") or ""}</textarea>
      </label>
      
      ${self.mini.visibility_input(obj, "public")}

      <input type="submit" value="Submit">
      <p>You can add addresses, etc. after the event has been created.</a>
    </form>

    ${self.mini.delete_input(obj, next_="/event")}

    %else:

    %if edit_block:
    <p class="warning">Editing is disabled because <a href="${url_rewrite(version_url)}">pending suggested revisions</a> exist.</p>
    %endif:

    <!-- Time Start -->
    <div class="mango-entity-section">
      <h3>Time</h3>
      ${obj["start_date"] | n, page_date}
    </div>
    <!-- Time End -->

    <!-- Description Start -->
    %if obj["description"]:
    <div class="mango-entity-section">

      <h3>Description</h3>
      <div class="description-preview markdown">
        %if obj["description"]:
        ${obj["description"] | n, markdown_safe, convert_links}
        %endif
      </div>

    </div>
    %endif
    <!-- Description End -->

    %endif


    <!-- Organisations Start -->
    %if obj and (edit or not moderator or obj["org_list"]):
    <div class="mango-entity-section">
    <div class="action-bar no-border">
      <h3>Companies</h3>

      %if edit and moderator:
      <div class="actions">
        <a
           href="${url_rewrite("%s/organisation" % obj["url"])}"
           class="action"
           >Edit companies</a>
      </div>
      %endif
    </div>

    %if obj["org_list"]:
    <ul class="org_list">
      %for org in obj["org_list"]:
      ${self.mini.org_box(
        org, parameters=parameters,
        )}
      %endfor
    </ul>
    %endif

    </div>
    %endif
    <!-- Organisations End -->

    <!-- Contacts Start -->
    %if obj and (edit or obj["contact_list"]):
    <div class="mango-entity-section">
      <div class="action-bar no-border">
        <h3>Contact</h3>

        %if edit:
        <div class="actions">
          <a
             href="${url_rewrite("%s/contact" % obj["url"])}"
             class="action"
             >Add contact</a>
        </div>
        %endif

      </div>

      %for contact in obj["contact_list"]:
      ${self.mini.contact_box(
        contact,
        "%s%s" % (obj["url"],
        contact["url"]),
        unlink=True,
        parameters=parameters,
        )}
      %endfor

    </div>
    %endif
    <!-- Contacts End -->

    <!-- Address Start -->
    %if obj and (edit or obj["address_list"]):
    <div class="mango-entity-section">
      <div class="action-bar no-border">
        <h3>Addresses</h3>

        %if edit:
        <div class="actions">
          <a
             href="${url_rewrite("%s/address" % obj["url"])}"
             class="action"
             >Add address</a>
        </div>
        %endif
      </div>

      %for address in obj["address_list"]:
      ${self.mini.address_box(
        address,
        "%s%s" % (obj["url"],
        address["url"]),
        unlink=True,
        parameters=parameters,
        )}
      %endfor

    </div>
    %endif
    <!-- Address End -->

    <!-- Duplicate Start -->
    %if obj and moderator and edit:
    <div class="mango-entity-section">
      <h3>Duplicate Event</h3>

      <form
         class="mango"
         action="${url_rewrite(obj["url"] + "/duplicate")}"
         method="post"
         >
        <input name="_xsrf" type="hidden" value="${xsrf}">
        <input name="_method" type="hidden" value="post">
        <label name="start_date" status="">
	  <span>Duplicate Start Date</span>
	  <span class="requirement"></span>
	  <input
             name="start_date"
             placeholder="Format is 'YYYY-MM-DD', eg. '2012-07-24'."
             value=""
             >
        </label>
        <input type="submit" value="Duplicate">
      </form>
    </div>
    %endif
    <!-- Duplicate End -->

  </div>
  
</div>

<!-- Note Start -->
%if obj and (edit and obj["note_list"]):
${self.mini.render_note_section(obj["note_list"],
  obj["url"] + "/note",
  obj["url"],
  note_search,
  note_order,
  unlink_url=obj["url"],
  parameters=parameters,
  )}
%endif
<!-- Note End -->

</%def>



