<%inherit file="base.html"/>

<%def name="title()">The Arms Trade on your Doorstep</%def>

<%def name="page()">

<h1>The arms trade mapped</h1>

<div id="mango-map-box">
  <div id="mango-map-canvas">Map loading...</div>
</div>

<div class="box right">

  <h3>The arms trade on your doorstep</h3>

  <p>Sometimes the death and destruction that the arms trade wreaks seems too far away to be relevant to our daily lives. In fact, conflict, repression and destruction around the world are fuelled by weapons and components made all across the UK. Browse our new map of the arms trade in the UK to find the arms trade on your doorstep.</p>
  
  <h3>Take action</h3>

  <p><a href="${url_root}expose-the-arms-trade.php">Expose</a> and <a href="${url_root}creative-action.php">challenge</a> the arms trade on your doorstep and help show arms companies that wherever they operate there is opposition. 
  
  <h3>Search the map for arms companies:</h2>

  <div class="home-inline">
  <div class="action-bar home">
    <h3>By location</h3>
    <form
       action="${url_rewrite("/organisation")}"
       method="get"
       >
      <label name="location">
	<input name="location" value="" placeholder="Eg. NW1">
      </label>
      <div class="actions">
        <input type="submit">
      </div>
    </form>
  </div>
  </div>

  <div class="home-inline">
  <div class="action-bar home">
    <h3>By name</h3>
    <form
       action="${url_rewrite("/organisation")}"
       method="get"
       >
      <label name="nameSearch">
	<input name="nameSearch" value="" placeholder="Eg. BAE Systems">
      </label>
      <div class="actions">
        <input type="submit">
      </div>
    </form>
  </div>
  </div>

  <h3>Search for upcoming actions and events:</h2>

  <div class="home-inline">
    <div class="action-bar home">
      <h3>By location</h3>
    <form
       action="${url_rewrite("/event")}"
       method="get"
       >
      <label name="location">
	<input name="location" value="" placeholder="Eg. London">
      </label>
      <div class="actions">
        <input type="submit">
      </div>
    </form>
  </div>
  </div>

</div>

</%def>
