<%inherit file="base.html"/>

<%def name="title()"><% return "Find the Arms Trade on your Doorstep" %></%def>

<%def name="page()">

<style>

#mango h1
{
margin: 2px;
margin-top: 25px;
text-align: center;
}

#mango .mango-top-link {
width: 440px;
margin: 15px auto;
height: 24px;
line-height: 24px;
font-size: 16px;
text-align: center;
border-radius: 8px;
background: #eee;
}


#mango-map-box
{
float: none;
width: 380px;
height: 360px;
margin: 0;
border: 0;
border-radius: 0;
}
#mango-map-canvas
{
width: 380px;
height: 360px;
}

.mango-dsei
{
width: 900px;
margin: auto;
text-align: center;
}
.mango-dsei:before,
.mango-dsei:after
{
    content:"";
    display:table;
}
.mango-dsei:after
{
    clear:both;
}

.ui-widget
{
    font-size: 12px;
    font-family: helvetica;
    font-weight: normal;
}

.mango-dsei img
{
display: inline-block;
margin-top: 56px;
}
.mango-dsei img:first-child
{
margin-top: 0;
}

#mango .mango-dsei p
{
margin: 4px 0;
}

.mango-dsei-caption
{
margin: auto;
font-size: 80%;
}

.mango-dsei-column-1,
.mango-dsei-column-2,
.mango-dsei-column-3
{
float: left;
}

.mango-dsei-column-1 { width: 380px; }
.mango-dsei-column-2 { width: 280px; }
.mango-dsei-column-3 { width: 240px; }

#mango .mango-dsei-action-box
{
margin: 0;
margin-bottom: 10px;
text-align: center;
}

#mango .mango-dsei-action-box h3
{
height: 40px;
font-size: 15px;
line-height:40px;
margin:0;
padding:0;
text-align: center;
}

#mango .mango-dsei-action-box form
{
display: block;
margin: 0 auto;
}

#mango .mango-dsei-action-box input
{
display: inline-block;
height: 32px;
width: 179px;
margin: 0;
border: 1px solid #ddd;
border-right: 0;
padding: 0 4px;
border-radius: 6px;
border-bottom-right-radius: 0;
border-top-right-radius: 0;
font-size: 13px;
background: #fff;
}
#mango .mango-dsei-action-box input[type="submit"]
{
box-sizing: content-box;
-moz-box-sizing: content-box;
display: inline-block;
height: 30px;
width: 70px;
margin: 0;
border: 1px solid #ddd;
padding: 0 4px;
border-radius: 6px;
border-bottom-left-radius: 0;
border-top-left-radius: 0;
font-size: 13px;
color: #d06800;
background: #eee;

}
#mango input::-moz-focus-inner /*Remove button padding in FF*/
{ 
    border: 0;
    padding: 0;
}
#mango .mango-dsei-action-box input[type="submit"][disabled]
{
color: #666;
}

#mango .mango-dsei-action-box a
{
display: block;
height: 32px;
width: 248px;
line-height: 30px;
margin: 0 auto;
margin-bottom: 12px;
border: 1px solid #ddd;
padding: 0 4px;
border-radius: 6px;
font-size: 13px;
color: #d06800;
background: #eee;
text-decoration: none;
}

#mango .mango-dsei-action-box a:hover
{
text-decoration: underline;
}

#mango .mango-dsei-column-1 .mango-dsei-action-box
{
text-align: left;
}

#mango .mango-dsei-column-1 .mango-dsei-action-box a
{
width: auto;
display: inline-block;
margin-top: 14px;
padding: 0px 30px;
}
#mango .mango-dsei-column-1 .mango-dsei-action-box a:first-child
{
float: right;
}


.ui-autocomplete
{
height: 200px;
overflow-y: scroll;
overflow-x: hidden;
}

</style>

<h1>Find the Arms Trade on your Doorstep</h1>

<!-- <div class="mango-top-link"> -->
<!--   You can also search -->
<!--   <a href="${url_rewrite("/dprte")}">DPRTE 2016</a> exhibitors -->
<!-- </div> -->

<div class="mango-dsei">
 
  <div class="mango-dsei-column-1">
    <div id="mango-map-box">
      <div id="mango-map-canvas">Map loading...</div>
    </div>
  </div>

  <div class="mango-dsei-column-2">
    <div class="mango-dsei-action-box">
      <h3>Companies in your area</h3>
      <form
         id="mango-dsei-form-location"
         action="${url_root}organisation"
         >
        <input
           type="text"
           name="location"
           value=""
           placeholder="Town or postcode"
           ><input type="submit" value="Go">
      </form>
    </div>

    <div class="mango-dsei-action-box">
      <h3>Companies by name</h3>
      <form
         id="mango-dsei-form-org"
         >
        <input
           id="mango-dsei-input-org-display"
           type="text"
           placeholder="Company name"
           ><input type="submit" value="Choose" disabled>
      </form>
    </div>

    <div class="mango-dsei-action-box">
      <h3>Companies by target market</h3>
      <form
         id="mango-dsei-form-country"
         action="${url_root}organisation"
         >
        <input
           id="mango-dsei-input-country-value"
           type="hidden"
           name="tag"
           value=""
           >
        <input
           id="mango-dsei-input-country-display"
           type="text"
           placeholder="Country name"
           ><input type="submit" value="Choose" disabled>
      </form>
    </div>

    <div class="mango-dsei-action-box">
      <h3>Take action</h3>
      %if events_enabled:
      <a href="${url_root}event">Find an event</a>
      %endif
      <a target="_blank" href="${protocol}://www.caat.org.uk/resources/mapping/creative-action">Organise a local action</a>
    </div>
  </div>

<div class="mango-dsei-column-3">
  <img src="${url_root}static/image/elbit-protest.jpg" width="240" height="360">
</div>

</div>



</%def>


