<%!
import datetime
%>



<%def name="visibility_public(public)">\
${{True: "public", False: "private", None: "pending",}[public]}
</%def>



<%def name="visibility_bar(obj)">\
%if obj and "public" in obj:
<div class="visibility bar
            ${visibility_public(obj["public"])}
  ">\
${visibility_public(obj["public"])}
</div>\
%endif
</%def>



<%def name="visibility_search_input(visibility=None, current_user=None)">
    %if current_user:
    <input type="hidden" name="visibility" value="${visibility or ""}">
    %endif
</%def>



<%def name="org_box(org, tag=False, note=False, geobox=None, parameters=None)">
<%
if not parameters:
   parameters = {}
%>
<div class="org-box">
  ${visibility_bar(org)}
  
  <div class="org_name">
    <a
       href="${url_rewrite(org["url"])}"
       >${org["name"]}</a>
    %if org.get("alias", None):
    (${org["alias"]})
    %endif
  </div>

  %if tag:
  <ul class="tag_list">
    %for tag in org["tag"]:
    <li class="orgtag">
      <a
         href="${url_rewrite(tag["url"])}"
         >${tag["name"]}</a>
    </li>
    %endfor
  </ul>
  %endif

  %if "address_list" in org:
  <div class="org_address_list">
    %for address in org["address_list"]:
    %if not geo_in(address["latitude"], address["longitude"], geobox):
    <% continue %>
    %endif
    <div class="address-row">
      <div class="pin"
	   color="yellow"
	   source="mini.html"
           %if address["latitude"]:
           latitude="${address["latitude"]}"
           longitude="${address["longitude"]}"
           %endif
           >
        &nbsp;
      </div>
      <div class="address">
	${visibility_bar(address)}
        <a
           href="${url_rewrite(address["url"])}"
           >${address["postal"] | n, h, unicode, newline_comma}</a>
      </div>
    </div>
    %endfor
  </div>
  %endif

  %if note and "note_list" in org:
  <div class="note_len">
    ${len(org["note_list"])}
  </div>
  %endif

</div>

</%def>



<%def name="event_box(event, tag=False, note=False, geobox=None, parameters=None)">
<%
if not parameters:
   parameters = {}
%>
<div class="event-box">
  ${visibility_bar(event)}
  
  <div class="event_time">
    ${event | n, page_period}
  </div>

  <div class="event_name">
    <a
       href="${url_rewrite(event["url"])}"
       >${event["name"]}</a>
  </div>

  %if "address_list" in event:
  <div class="event_address_list">
    %for address in event["address_list"]:
    %if not geo_in(address["latitude"], address["longitude"], geobox):
    <% continue %>
    %endif
    <div class="address-row">
      <div class="pin"
	   color="yellow"
	   source="mini.html"
           %if address["latitude"]:
           latitude="${address["latitude"]}"
           longitude="${address["longitude"]}"
           %endif
           >
        &nbsp;
      </div>
      <div class="address">
	${visibility_bar(address)}
        <a
           href="${url_rewrite(address["url"])}"
           >${address["postal"] | n, h, unicode, newline_comma}</a>
      </div>
    </div>
    %endfor

  </div>
  %endif


  %if tag:
  <ul class="tag_list">
    %for tag in event["tag"]:
    <li class="eventtag">
      <a
         href="${url_rewrite(tag["url"])}"
         >${tag["name"]}</a>
    </li>
    %endfor
  </ul>
  %endif


  %if note and "note_list" in event:
  <div class="note_len">
    ${len(event["note_list"])}
  </div>
  %endif

</div>

</%def>



<%def name="address_box(address, link_url=False, unlink=False, parameters=None)">\
<%
if not parameters:
    parameters = {}
%>\
        <div class="address-box">
	  ${visibility_bar(address)}
          <div class="address-row">
	    <div class="pin"
		 %if address.get("latitude", None):
	         latitude="${address["latitude"]}"
		 longitude="${address["longitude"]}"
		 %endif
		 >
	      &nbsp;
	    </div>
	    <div class="address">
	      ${address["postal"] | n, h, unicode, newline_comma}
	    </div>
	    <div class="actions">
	    %if current_user and (parameters.get("view", None) == "edit"):
	      <a
                 href="${url_rewrite(address["url"])}"
                 class="action"
                 >Edit</a>

    %if unlink and link_url:
    <span>
      <form
         action="${url_rewrite(link_url, next_=uri)}"
         method="post"
         >
	<input name="_xsrf" type="hidden" value="${xsrf}">
	<input name="_method" type="hidden" value="delete">
	<input type="submit" value="Delete">
      </form>
    </span>
    %endif

              %else:
              <a href="${url_rewrite(address["url"])}">
                View
              </a>
              %endif
	    </div>
          </div>
        </div>
</%def>



<%def name="org_li(org, alias=False, link_url=False, link=False, unlink=False, visibility=False, parameters=None)">\
<%
if not parameters:
    parameters = {}
%>\
<li class="tag${(visibility and 'public' in org) and ' has-visibility' or ''}">\
<span class="org_name">\
<a
   href="${url_rewrite(org["url"])}"
   >${org["name"] | n, h, unicode, nbsp}</a>\
</span>\
%if alias and org.get("alias", None):
&nbsp;\
<span class="org_alias">\
(${org["alias"]["name"] | n, h, unicode, nbsp})
</span>\
%endif
%if moderator and (parameters.get("view", None) == "edit"):
%if link and link_url:
&nbsp;\
<span>\
<form
   action="${url_rewrite(link_url, next_=uri)}"
   method="post"
   >\
<input name="_xsrf" type="hidden" value="${xsrf}">\
<input name="_method" type="hidden" value="put">\
<input type="submit" value="+">\
</form>\
</span>\
%endif
%if unlink and link_url:
&nbsp;\
<span>\
<form
   action="${url_rewrite(link_url, next_=uri)}"
   method="post"
   >\
<input name="_xsrf" type="hidden" value="${xsrf}">\
<input name="_method" type="hidden" value="delete">\
<input type="submit" value="✕">\
</form>\
</span>\
%endif
%endif
%if visibility and "public" in org:
&nbsp;\
${visibility_bar(org)}\
%endif
</li>
</%def>



<%def name="event_li(event, date=True, link_url=False, link=False, unlink=False, visibility=False, parameters=None)">\
<%
if not parameters:
    parameters = {}
%>\
<li class="tag${(visibility and 'public' in event) and ' has-visibility' or ''}">\
<span class="event_name">\
<a
   href="${url_rewrite(event["url"])}"
   >${event["name"] | n, h, unicode, nbsp}</a>\
</span>\
%if date:
&nbsp;\
<span>${event["start_date"] | n, page_date, nbsp}</span>\
%endif
%if moderator and (parameters.get("view", None) == "edit"):
%if link and link_url:
&nbsp;\
<span>\
<form
   action="${url_rewrite(link_url, next_=uri)}"
   method="post"
   >\
<input name="_xsrf" type="hidden" value="${xsrf}">\
<input name="_method" type="hidden" value="put">\
<input type="submit" value="+">\
</form>\
</span>\
%endif
%if unlink and link_url:
&nbsp;\
<span>\
<form
   action="${url_rewrite(link_url, next_=uri)}"
   method="post"
   >\
<input name="_xsrf" type="hidden" value="${xsrf}">\
<input name="_method" type="hidden" value="delete">\
<input type="submit" value="✕">\
</form>\
</span>\
%endif
%endif
%if visibility and "public" in event:
&nbsp;\
${visibility_bar(event)}\
%endif
</li>
</%def>



<%def name="address_li(address, link_url=False, unlink=False, parameters=None)">\
<%
if not parameters:
    parameters = {}
%>\
  <li class="tag">
    <span class="address_name">
      <a
         href="${url_rewrite(address["url"])}"
         >${address["postal"]}</a>
    </span>
    %if current_user and (parameters.get("view", None) == "edit"):
    %if unlink and link_url:
    <span>
      <form
         action="${url_rewrite(link_url, next_=uri)}"
         method="post"
         >
	<input name="_xsrf" type="hidden" value="${xsrf}">
	<input name="_method" type="hidden" value="delete">
	<input type="submit" value="✕">
      </form>
    </span>
    %endif
    %endif

  </li>
</%def>



<%def name="tag_li(tag, entity=False, note=False, path=False,
	    link_url=False, unlink=False, link=False, next=False,
	    visibility=False, parameters=None)">\
<%
if not parameters:
    parameters = {}
%>\
<li class="tag${(visibility and 'public' in tag) and ' has-visibility' or ''}"
   %if not path:
   title="${tag["name"] | n, h, unicode}"\
   %endif
>\
<span
   class="tag_name"
   >\
<a
   href="${url_rewrite(tag["url"])}"
   >\
%if path:
${tag["name"] | n, h, unicode, nbsp}\
%else:
${tag["base"] | n, h, unicode, nbsp}\
%endif
</a>\
</span>\
\
%if entity and tag.get(entity["len"], None):
&nbsp;\
(\
<span class="number">\
<a
   href="${url_rewrite("/%s" % entity["url"], options=dict(tag=tag["base_short"]))}"
   >${tag[entity["len"]]}</a>\
</span>\
)\
%endif
\
%if note and tag.get("note_len", False):
&nbsp;\
<span class="has-notes">…</span>\
%endif
%if moderator and (parameters.get("view", None) == "edit"):
%if link and link_url:
<span>\
<form
   action="${url_rewrite(link_url)}"
   method="post"
   >\
<input name="_xsrf" type="hidden" value="${xsrf}">\
<input name="_method" type="hidden" value="put">\
%if next:
<input name="next" type="hidden" value="${url_rewrite(next, parameters={})}">\
%endif
&nbsp;\
<input type="submit" value="+">\
</form>\
</span>\
%endif
\
%if unlink and link_url:
<span>\
<form
   action="${url_rewrite(link_url)}"
   method="post"
   >\
<input name="_xsrf" type="hidden" value="${xsrf}">\
<input name="_method" type="hidden" value="delete">\
%if next:
<input name="next" type="hidden" value="${url_rewrite(next, parameters={})}">\
%endif
&nbsp;\
<input type="submit" value="✕">\
</form>\
</span>\
%endif
%endif
%if visibility and "public" in tag:
&nbsp;\
${visibility_bar(tag)}\
%endif
</li>
%if path:
<br/>
%endif
</%def>



<%def name="alias_li(alias,
	    link_url=False, unlink=False, next_=False,
	    visibility=False, parameters=None)">\
<%
if not parameters:
    parameters = {}
%>\
<li class="alias">\
<span class="alias_name">\
%if moderator and (parameters.get("view", None) == "edit"):
<a
   href="${url_rewrite(alias["url"])}"
   >\
%endif
${alias["name"] | n, h, unicode, nbsp}\
%if moderator and (parameters.get("view", None) == "edit"):
</a>\
%endif
</span>\
\
%if moderator and (parameters.get("view", None) == "edit"):
%if unlink and link_url:
&nbsp;\
<span>\
<form
   action="${url_rewrite(link_url)}"
   method="post"
   >\
<input name="_xsrf" type="hidden" value="${xsrf}">\
<input name="_method" type="hidden" value="delete">\
%if next:
<input name="next" type="hidden" value="${url_rewrite(next_, parameters={})}">\
%endif
&nbsp;\
<input type="submit" value="✕">\
</form>\
</span>\
%endif
%endif
%if visibility and "public" in alias:
&nbsp;\
${visibility_bar(alias)}\
%endif
</li>
</%def>



<%def name="render_note(
            obj, action=True, id=None,
            next_url=None, unlink_url=None,
            parameters=None)">\
<%
if not parameters:
    parameters = {}
%>\
    <div ${id and 'id="%s" ' % id or '' | n}class="note">
      ${visibility_bar(obj)}
      <div class="note-text markdown">
	${obj["text"] | n, markdown_safe, convert_links}
      </div>
      <div class="note-source markdown">
	${obj["source"] | n, markdown_safe, convert_links}
      </div>
      <div class="note-date">
	<a
           href="${url_rewrite(obj["url"])}"
           >
	${datetime.datetime.fromtimestamp(obj["date"]).strftime("%Y/%m/%d %H:%M")}
	%if "linked" in obj and len(obj["linked"]) != 1:
	|
	${len(obj["linked"])} links
	%endif
	</a>
      </div>
      %if current_user and (parameters.get("view", None) == "edit"):
      %if action:
      <div class="action-bar no-border right">
	<a
           class="action"
           href="${url_rewrite(obj["url"], next_=uri)}"
           >Edit</a>
	%if unlink_url and "linked" in obj and len(obj["linked"]) > 1:
	<form
           action="${url_rewrite(unlink_url)}"
           method="post"
           >
	  <input name="_xsrf" type="hidden" value="${xsrf}">
	  <input name="_method" type="hidden" value="delete">
	  %if next_url:
	  <input name="next" type="hidden" value="${url_rewrite(next_url, parameters={})}">
	  %endif
	  <input type="submit" value="Unlink">
	</form>
	%endif
	<form
           action="${url_rewrite(obj["url"])}"
           method="post"
           >
	  <input name="_xsrf" type="hidden" value="${xsrf}">
	  <input name="_method" type="hidden" value="delete">
	  %if next_url:
	  <input name="next" type="hidden" value="${url_rewrite(next_url, parameters={})}">
	  %endif
	  <input type="submit" value="Delete">
	</form>
      </div>
      %endif
      %endif
    </div>
</%def>



<%def name="render_note_section(note_list, new_url, next_url=None, note_search=None, note_order=None, unlink_url=None, add_button=True, parameters=None)">\
<%
if not parameters:
    parameters = {}
%>\
<div class="section">
  <div class="box full">
    <div class="action-bar no-border">
      <h3>Notes (${len(note_list)})</h3>
      
      %if note_list or note_search:
      
      <form id="note-filter">
	<label name="note_search">
	  <span>Search</span>
	  <input name="note_search" value="${note_search or ''}">
	  <select name="note_order">
	    <option value="desc"
		    ${note_order != "asc" and "selected='selected'" or ""}
		    >Newest</option>
	    <option value="asc"
		    ${note_order == "asc" and "selected='selected'" or ""}
		    >Oldest</option>
          </select>
        </label>
        <input type="submit">
      </form>
      
      %endif
      
      %if add_button and current_user and (parameters.get("view", None) == "edit"):
      <ul class="actions">
	<a
           class="action"
           href="${url_rewrite(new_url)}"
           >Add a note</a>
      </ul>
      %endif
    </div>
    
    %for note in note_list:
    ${self.render_note(
    note, next_url=next_url, unlink_url=unlink_url, parameters=parameters)}
    %endfor
  </div>
</div>

</%def>



<%def name="delete_input(entity=None, next_=None)">
<%
    if not moderator:
        return ""

    if not entity:
        return ""
%>

    <form
       class="mango"
       action="${url_rewrite(entity["url"])}"
       method="post"
       >
      <input name="_xsrf" type="hidden" value="${xsrf}">
      <input name="_method" type="hidden" value="delete">
      %if next_:
      <input name="next" type="hidden" value="${url_rewrite(next_)}">
      %endif
      <input type="submit" value="Delete">
    </form>

</%def>



<%def name="visibility_input(entity=None, default='pending')">
<%
    if not moderator:
        return ""

    default_options = {
        "public": "true",
        "pending": "null",
        "private": "false",
    }

    default = default_options.get(default, "null")

    options = {
        "null": "Pending",
        "true": "Public",
        "false": "Private",
    }

    selected = {}
    for option in options.keys():
        selected[option] = ""
    if entity:
        if entity.get("public", None) is True:
            selected["true"] = "selected='selected'"
        elif entity.get("public") is False:
            selected["false"] = "selected='selected'"
        else:
            selected["null"] = "selected='selected'"
    else:
        selected[default] = "selected='selected'"
%>

    <div class="action-bar no-border section">
      <h3>Visibility</h3>
      <select name="public">
	%for option, title in options.items():
	<option value="${option}" ${selected[option]}>${title}</option>
	%endfor
      </select>
    </div>
</%def>



<%def name="counts(obj_list, offset, total, more_link)">
    %if len(obj_list):
    Showing
    <span class="count_showing_from">${offset + 1}</span>
    -
    <span class="count_showing_to">${offset + len(obj_list)}</span>
    of
    <span class="count_total">${total}</span>.

    <span class="more">
    %if more_link and (offset + len(obj_list) < total):
      <a
         href="${more_link}"
         >More</a>
    %endif
    </span>
    %else:
    No matching results
    %endif
</%def>
