<%inherit file="base.html"/>



<%!
    import math
%>


<%def name="title()"><% return u"Company Inclusion" %></%def>



<%def name="inclusion_table(key, link='tags', hint=True, start=None, end=None, hide_more=None)">
  <table>
    <tbody>
<%
if start is None:
    start = 0
if end is None:
    end = max_block_length + 1
last_tags = None
%>
      %for row in packet[key][start:end]:
<%
(org, dseitag, saptag, tag) = row
tags = []
if dseitag:
    tags.append("D")
if saptag:
    tags.append("P")
if tag:
    tags.append(str(tag))

if link=="tags":
    url=url_rewrite(org.url + '/tag', {
                     'sort':'name',
                     'path':True,
                     'visibility':'all',
                     'view':'edit',
                     })
else:
    url=url_rewrite(org.url, {
                     'visibility':'all',
                     'view':'edit',
                     })
%>
%if hint and last_tags and (bool(dseitag), bool(saptag)) != last_tags:
<tr><td>&nbsp;</td></tr>
%endif
      <tr>
        <td><a 
               class="change-visibility"
               href="${url}"
               >${org.name}</a>
%if hint and tags:
${", ".join(tags)}
%endif
</td>
      </tr>
<%
last_tags = (bool(dseitag), bool(saptag))
%>
      %endfor
      %if not hide_more and len(packet[key]) > end:
      <tr><td>&nbsp;</td></tr>
      <tr><td>(${len(packet[key]) - end} more)</td></tr>
      %endif
    </tbody>
  </table>
</%def>



<%def name="inclusion_block_3_col(key, title, link='tags', hint=True)">
%if packet[key]:
<div class="inclusion">
  <h3>${title}: Add activity tags:</h3>

  <% 
     length = min(len(packet[key]), max_block_length)
     cut2 = length - int(math.floor(length / 3))
     cut1 = cut2 - int(math.floor(cut2 / 2))
     %>

  <div class="mango-box third">
    <div class="visibility pending">
      <ul>
        <li>Do not have activity tags</li>
        <li>${title}</li>
        <li>Pending</li>
      </ul>
    </div>
    ${self.inclusion_table(key, hint=hint,
                           end=cut1, hide_more=True)}
  </div>

  <div class="mango-box third">
    <div class="visibility pending">
      <ul>
      </ul>
    </div>
    ${self.inclusion_table(key, hint=hint,
                           start=cut1, end=cut2, hide_more=True)}
  </div>

  <div class="mango-box third">
    <div class="visibility pending">
      <ul>
      </ul>
      <div class="total">${len(packet[key])}</div>
    </div>
    ${self.inclusion_table(key, hint=hint,
                           start=cut2, end=length)}
  </div>

</div>
%endif
</%def>



<%def name="page()">

<h1>Company Inclusion</h1>

<div class="inclusion">
  <h3>No action required:</h3>

  <div class="mango-box third">
    <div class="visibility public">
      <ul>
        <li>Have activity tags</li>
        <li>Meet inclusion criteria</li>
        <li>Public</li>
      </ul>
      <div class="total">${packet["act_include_public"]}</div>
    </div>
  </div>

  <div class="mango-box third">
    <div class="visibility private">
      <ul>
        <li>Have activity tags</li>
        <li>Do not meet inclusion criteria</li>
        <li>Private</li>
      </ul>
      <div class="total">${packet["act_exclude_private"]}</div>
    </div>
  </div>

  <div class="mango-box third">
    <div class="visibility pending">
      <ul>
        <li>Do not meet inclusion criteria</li>
        <li>Pending</li>
      </ul>
      <div class="total">${packet["exclude_pending"]}</div>
    </div>
  </div>
</div>

%if packet["remove_public"] or packet["remove_private"]:
<div class="inclusion">
  <h3>Visibility setting does not match activity tags: Add activity tags or set visibility to pending</h3>

  <div class="mango-box half">
    <div class="visibility public">
      <ul>
        <li>Do not have activity tags</li>
        <li>Public</li>
      </ul>
      <div class="total">${len(packet["remove_public"])}</div>
    </div>
    ${self.inclusion_table("remove_public", link="org", hint=True)}
  </div>

  <div class="mango-box half">
    <div class="visibility private">
      <ul>
        <li>Do not have activity tags</li>
        <li>Private</li>
      </ul>
      <div class="total">${len(packet["remove_private"])}</div>
    </div>
    ${self.inclusion_table("remove_private", link="org", hint=True)}
  </div>
</div>
%endif

%if packet["addr_public"]:
<div class="inclusion">
  <h3>Addresses: Add a public address.</h3>

  <div class="mango-box full">
    <div class="visibility public">
      <ul>
        <li>Have activity tags</li>
        <li>Public</li>
        <li>Lacks a public address</li>
      </ul>
      <div class="total">${len(packet["addr_public"])}</div>
    </div>
    ${self.inclusion_table("addr_public", link="org", hint=False)}
  </div>
</div>
%endif

%if packet["act_exclude_public"] or packet["act_include_private"]:
<div class="inclusion">
  <h3>Visibility setting does not match activity tags: Change visibility setting</h3>

  <div class="mango-box half">
    <div class="visibility public">
      <ul>
        <li>Have activity tags</li>
        <li>Do not meet inclusion criteria</li>
        <li>Public, but <span class="visibility private">should be private</span></li>
      </ul>
      <div class="total">${len(packet["act_exclude_public"])}</div>
    </div>
    ${self.inclusion_table("act_exclude_public", link="org", hint=True)}
  </div>

  <div class="mango-box half">
    <div class="visibility private">
      <ul>
        <li>Have activity tags</li>
        <li>Meet inclusion criteria</li>
        <li>Private, but <span class="visibility public">should be Public</span></li>
      </ul>
      <div class="total">${len(packet["act_include_private"])}</div>
    </div>
    ${self.inclusion_table("act_include_private", link="org", hint=True)}
  </div>
</div>
%endif

%if packet["act_include_pending"] or packet["act_exclude_pending"]:
<div class="inclusion">
  <h3>Visibility setting does not match activity tags: Change visibility setting</h3>

  <div class="mango-box half">
    <div class="visibility pending">
      <ul>
        <li>Have activity tags</li>
        <li>Meet inclusion criteria</li>
        <li>Pending, but <span class="visibility public">should be Public</span></li>
      </ul>
      <div class="total">${len(packet["act_include_pending"])}</div>
    </div>
    ${self.inclusion_table("act_include_pending", link="org", hint=True)}
  </div>

  <div class="mango-box half">
    <div class="visibility pending">
      <ul>
        <li>Have activity tags</li>
        <li>Do not meet inclusion criteria</li>
        <li>Pending, but <span class="visibility private">should be private</span></li>
      </ul>
      <div class="total">${len(packet["act_exclude_pending"])}</div>
    </div>
    ${self.inclusion_table("act_exclude_pending", link="org", hint=True)}
  </div>
</div>
%endif

%if packet["desc_pending"]:
<div class="inclusion">
  <h3>Description: Add activity tags:</h3>

  <div class="mango-box third">
    <div class="visibility pending">
      <ul>
        <li>Do not have activity tags</li>
        <li>Have description</li>
        <li>Pending</li>
      </ul>
      <div class="total">${len(packet["desc_pending"])}</div>
    </div>
    ${self.inclusion_table("desc_pending", hint=True)}
  </div>
</div>
%endif

${self.inclusion_block_3_col("dsei2015_pending", "Exhibitors at DSEI 2015",)}
${self.inclusion_block_3_col("israel_pending", "Military exporter to Israel",)}
${self.inclusion_block_3_col("canterbury_pending", "Based in Canterbury",)}
${self.inclusion_block_3_col("sipri_pending", "Sipri Top 100",)}
${self.inclusion_block_3_col("note_pending", "Has notes",)}
${self.inclusion_block_3_col("include_pending", "Match inclusion criteria",)}


</%def>

