<%inherit file="base.html"/>

<%def name="title()">Moderation Queue</%def>

<%def name="logout_url()"><% return "/" %></%def>

<%def name="page()">

<h1>Moderation Queue</h1>

<p>

<table class="queue">
  <thead>
    <tr>
      <th>Company</th>
      <th>Event</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <ul>
          %for org_id, org in queue["org"].items():
          ${org_list(org_id, org)}
          %endfor
        </ul>
      </td>

      <td>
        <ul>
          %for event_id, event in queue["event"].items():
          ${event_list(event_id, event)}
          %endfor
        </ul>
      </td>
  </tbody>
</table>

</%def>


<%def name="org_list(org_id, org, open=True)">
<li>
  org
  :
  %if org["url"]:
  <a href="${url_rewrite(org["url"])}">${org_id}</a>
  %else:
  ${org_id}
  %endif
  %if org["revision_url"]:
  :
  %if open:
  <a href="${url_rewrite(org["revision_url"])}">moderate</a>
  %else:
  review parent first
  %endif
  %endif
  <ul>
    %for address_id, address in org["address"].items():
    ${address_list(address_id, address, bool(org["url"]))}
    %endfor
  </ul>
</li>
</%def>



<%def name="event_list(event_id, event, open=True)">
<li>
  event
  :
  %if event["url"]:
  <a href="${url_rewrite(event["url"])}">${event_id}</a>
  %else:
  ${event_id}
  %endif
  %if event["revision_url"]:
  :
  %if open:
  <a href="${url_rewrite(event["revision_url"])}">moderate</a>
  %else:
  review parent first
  %endif
  %endif
  <ul>
    %for address_id, address in event["address"].items():
    ${address_list(address_id, address, bool(event["url"]))}
    %endfor
  </ul>
</li>
</%def>



<%def name="address_list(address_id, address, open=True)">
<li>
  address
  :
  %if address["url"]:
  <a href="${url_rewrite(address["url"])}">${address_id}</a>
  %else:
  ${address_id}
  %endif
  %if address["revision_url"]:
  :
  %if open:
  <a href="${url_rewrite(address["revision_url"])}">moderate</a>
  %else:
  review parent first
  %endif
  %endif
</li>
</%def>
