<%inherit file="base.html"/>

<%def name="title()"><%
return u"Moderation Queue"
%></%def>

<%def name="logout_url()"><% return "/" %></%def>

<%def name="page()">

<h1>Moderation Queue</h1>

%if not (queue.get("org", None) or (events_enabled and queue.get("event", None))):
<p>Moderation queue empty</p>

%endif

%if queue.get("org", None):

<h2>Companies</h2>

<table class="queue">
  <thead>
    <tr>
      <th>Type</th>
      <th></th>
      <th>Action</th>
      <th>User</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    %for org_id, org in queue["org"].items():
    ${org_list(org_id, org)}
    %endfor
  </tbody>
</table>
%endif

%if events_enabled and queue.get("event", None):
<h2>Events</h2>

<table class="queue">
  <thead>
    <tr>
      <th>Type</th>
      <th></th>
      <th>Action</th>
      <th>User</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    %for event_id, event in queue["event"].items():
    ${event_list(event_id, event)}
    %endfor
  </tbody>
</table>
%endif

</%def>


<%def name="entity_list(type_, entity_id, entity, open=True, indent=0)">
<tr${' class="mango-queue-subordinate"' if indent else '' | n}>
  <td class="mango-queue-type">${"&nbsp;" * 2 * indent | n}${type_}</td>
  <td class="mango-queue-id">
    %if entity["url"]:
    <a href="${url_rewrite(entity["url"])}">${entity_id}</a>
    %else:
    ${entity_id}
    %endif
  </td>
  <td class="mango-queue-vid">${"&nbsp;" * 2 * indent | n}
    %if entity["revisionUrl"]:
    %if open:
    <a href="${url_rewrite(entity["revisionUrl"])}">moderate</a>
    %else:
    review parent first
    %endif
    %endif
  </td>
  <td class="mango-queue-user">
    %if entity["user"]:
    ${entity["user"]}
    %endif
  </td>
  <td class="mango-queue-description">
    %if entity["description"]:
    ${entity["description"]}
    %endif
  </td>
</tr>
</%def>



<%def name="org_list(org_id, org, open=True, indent=0)">
<%
entity_list("org", org_id, org, open, indent)
%>

%for address_id, address in org["address"].items():
${address_list(address_id, address, bool(org["url"]), indent + 1)}
%endfor

%for contact_id, contact in org["contact"].items():
${contact_list(contact_id, contact, bool(org["url"]), indent + 1)}
%endfor

</%def>



<%def name="event_list(event_id, event, open=True, indent=0)">
<%
entity_list("event", event_id, event, open, indent)
%>

%for address_id, address in event["address"].items():
${address_list(address_id, address, bool(event["url"]), indent + 1)}
%endfor

%for contact_id, contact in event["contact"].items():
${contact_list(contact_id, contact, bool(event["url"]), indent + 1)}
%endfor

</%def>



<%def name="address_list(*args, **kwargs)">
<%
entity_list("address", *args, **kwargs)
%>
</%def>



<%def name="contact_list(*args, **kwargs)">
<%
entity_list("contact", *args, **kwargs)
%>
</%def>
