<%inherit file="base.html"/>

<%def name="title()"><% return u"Company Inclusion" %></%def>

<%def name="inclusion_table(key, link='tags', hint=True)">
  <table>
    <tbody>
<%
last_tags = None
%>
      %for row in packet[key][:200]:
<%
(org, dsei, saptag, tag) = row
tags = []
if dsei:
    tags.append("D")
if saptag:
    tags.append("P")
if tag:
    tags.append(str(tag))

if link=="tags":
    url=url_rewrite(org.url + '/tag', {
                     'sort':'name',
                     'path':True,
                     'visibility':'all',
                     'view':'edit',
                     })
else:
    url=url_rewrite(org.url, {
                     'visibility':'all',
                     'view':'edit',
                     })
%>
%if hint and last_tags and (bool(dsei), bool(saptag)) != last_tags:
<tr><td>&nbsp;</td></tr>
%endif
      <tr>
        <td><a 
               class="change-visibility"
               href="${url}"
               >${org.name}</a>
%if hint and tags:
${", ".join(tags)}
%endif
</td>
      </tr>
<%
last_tags = (bool(dsei), bool(saptag))
%>
      %endfor
      %if len(packet[key]) > 200:
      <tr><td>(${len(packet[key]) - 200} more)</td></tr>
      %endif
    </tbody>
  </table>
</%def>

<%def name="page()">

<h1>Company Inclusion</h1>

<div class="inclusion">
  <h3>No action required:</h3>

  <div class="mango-box third">
    <div class="visibility public">
      <ul>
        <li>Have activity tags</li>
        <li>Meet inclusion criteria</li>
        <li>Public</li>
      </ul>
      <div class="total">${packet["act_include_public"]}</div>
    </div>
  </div>

  <div class="mango-box third">
    <div class="visibility private">
      <ul>
        <li>Have activity tags</li>
        <li>Do not meet inclusion criteria</li>
        <li>Private</li>
      </ul>
      <div class="total">${packet["act_exclude_private"]}</div>
    </div>
  </div>

  <div class="mango-box third">
    <div class="visibility pending">
      <ul>
        <li>Do not meet inclusion criteria</li>
        <li>Pending</li>
      </ul>
      <div class="total">${packet["exclude_pending"]}</div>
    </div>
  </div>
</div>

%if packet["addr_public"]:
<div class="inclusion">
  <h3>Addresses: Add a public address.</h3>

  <div class="mango-box third">
    <div class="visibility public">
      <ul>
        <li>Have activity tags</li>
        <li>Lacks a public address</li>
        <li>Public</li>
      </ul>
      <div class="total">${len(packet["addr_public"])}</div>
    </div>
    ${self.inclusion_table("addr_public", link="org", hint=False)}
  </div>
</div>
%endif

%if packet["act_exclude_public"] or packet["act_include_private"] or packet["act_include_pending"]:
<div class="inclusion">
  <h3>Visibility setting does not match tags. Fix visibility setting or remove blocking tags:</h3>

  <div>
    <p>Note: The following tags block an organisation from the inclusion criteria: <strong>
    'armed-forces',
    'bespoke-firearms',
    'exhibitions',
    'government',
    'medical' and
    'media'.</strong> They should not be applied if the organisation also carries out private military activities.
    </p>
  </div>
  
  <div class="mango-box third">
    <div class="visibility public">
      <ul>
        <li>Have activity tags</li>
        <li>Do not meet inclusion criteria</li>
        <li>Public</li>
      </ul>
      <div class="total">${len(packet["act_exclude_public"])}</div>
    </div>
    ${self.inclusion_table("act_exclude_public", link="org", hint=True)}
  </div>

  <div class="mango-box third">
    <div class="visibility private">
      <ul>
        <li>Have activity tags</li>
        <li>Meet inclusion criteria</li>
        <li>Private</li>
      </ul>
      <div class="total">${len(packet["act_include_private"])}</div>
    </div>
    ${self.inclusion_table("act_include_private", link="org", hint=True)}
  </div>

  <div class="mango-box third">
    <div class="visibility pending">
      <ul>
        <li>Have activity tags</li>
        <li>Meet inclusion criteria</li>
        <li>Pending</li>
      </ul>
      <div class="total">${len(packet["act_include_pending"])}</div>
    </div>
    ${self.inclusion_table("act_include_pending", link="org", hint=True)}
  </div>
</div>
%endif

%if packet["desc_public"] or packet["desc_private"] or packet["desc_pending"]:
<div class="inclusion">
  <h3>Description: Add activity tags:</h3>

  <div class="mango-box third">
    <div class="visibility public">
      <ul>
        <li>Do not have activity tags</li>
        <li>Have description</li>
        <li>Public</li>
      </ul>
      <div class="total">${len(packet["desc_public"])}</div>
    </div>
    ${self.inclusion_table("desc_public", hint=True)}
  </div>

  <div class="mango-box third">
    <div class="visibility private">
      <ul>
        <li>Do not have activity tags</li>
        <li>Have description</li>
        <li>Private</li>
      </ul>
      <div class="total">${len(packet["desc_private"])}</div>
    </div>
    ${self.inclusion_table("desc_private", hint=True)}
  </div>

  <div class="mango-box third">
    <div class="visibility pending">
      <ul>
        <li>Do not have activity tags</li>
        <li>Have description</li>
        <li>Pending</li>
      </ul>
      <div class="total">${len(packet["desc_pending"])}</div>
    </div>
    ${self.inclusion_table("desc_pending", hint=True)}
  </div>
</div>
%endif

%if packet["sap2015_public"] or packet["sap2015_private"] or packet["sap2015_pending"]:
<div class="inclusion">
  <h3>Exhibitors at Security and Policing 2015: Add activity tags:</h3>

  <% criterion = "Exhibitors at Security and Policing 2015." %>

  <div class="mango-box third">
    <div class="visibility public">
      <ul>
        <li>Do not have activity tags</li>
        <li>${criterion}</li>
        <li>Public</li>
      </ul>
      <div class="total">${len(packet["sap2015_public"])}</div>
    </div>
    ${self.inclusion_table("sap2015_public", hint=True)}
  </div>

  <div class="mango-box third">
    <div class="visibility private">
      <ul>
        <li>Do not have activity tags</li>
        <li>${criterion}</li>
        <li>Private</li>
      </ul>
      <div class="total">${len(packet["sap2015_private"])}</div>
    </div>
    ${self.inclusion_table("sap2015_private", hint=True)}
  </div>

  <div class="mango-box third">
    <div class="visibility pending">
      <ul>
        <li>Do not have activity tags</li>
        <li>${criterion}</li>
        <li>Pending</li>
      </ul>
      <div class="total">${len(packet["sap2015_pending"])}</div>
    </div>
    ${self.inclusion_table("sap2015_pending", hint=True)}
  </div>
</div>
%endif

%if packet["israel_public"] or packet["israel_private"] or packet["israel_pending"]:
<div class="inclusion">
  <h3>Military exporters to Israel: Add activity tags:</h3>

  <% criterion = "Military exporter to Israel." %>

  <div class="mango-box third">
    <div class="visibility public">
      <ul>
        <li>Do not have activity tags</li>
        <li>${criterion}</li>
        <li>Public</li>
      </ul>
      <div class="total">${len(packet["israel_public"])}</div>
    </div>
    ${self.inclusion_table("israel_public", hint=True)}
  </div>

  <div class="mango-box third">
    <div class="visibility private">
      <ul>
        <li>Do not have activity tags</li>
        <li>${criterion}</li>
        <li>Private</li>
      </ul>
      <div class="total">${len(packet["israel_private"])}</div>
    </div>
    ${self.inclusion_table("israel_private", hint=True)}
  </div>

  <div class="mango-box third">
    <div class="visibility pending">
      <ul>
        <li>Do not have activity tags</li>
        <li>${criterion}</li>
        <li>Pending</li>
      </ul>
      <div class="total">${len(packet["israel_pending"])}</div>
    </div>
    ${self.inclusion_table("israel_pending", hint=True)}
  </div>
</div>
%endif

%if packet["canterbury_public"] or packet["canterbury_private"] or packet["canterbury_pending"]:
<div class="inclusion">
  <h3>Based in Canterbury: Add activity tags:</h3>

  <% criterion = "Based in Canterbury." %>

  <div class="mango-box third">
    <div class="visibility public">
      <ul>
        <li>Do not have activity tags</li>
        <li>${criterion}</li>
        <li>Public</li>
      </ul>
      <div class="total">${len(packet["canterbury_public"])}</div>
    </div>
    ${self.inclusion_table("canterbury_public", hint=True)}
  </div>

  <div class="mango-box third">
    <div class="visibility private">
      <ul>
        <li>Do not have activity tags</li>
        <li>${criterion}</li>
        <li>Private</li>
      </ul>
      <div class="total">${len(packet["canterbury_private"])}</div>
    </div>
    ${self.inclusion_table("canterbury_private", hint=True)}
  </div>

  <div class="mango-box third">
    <div class="visibility pending">
      <ul>
        <li>Do not have activity tags</li>
        <li>${criterion}</li>
        <li>Pending</li>
      </ul>
      <div class="total">${len(packet["canterbury_pending"])}</div>
    </div>
    ${self.inclusion_table("canterbury_pending", hint=True)}
  </div>
</div>
%endif

%if packet["liverpool_public"] or packet["liverpool_private"] or packet["liverpool_pending"]:
<div class="inclusion">
  <h3>Based in Liverpool: Add activity tags:</h3>

  <% criterion = "Based in Liverpool." %>

  <div class="mango-box third">
    <div class="visibility public">
      <ul>
        <li>Do not have activity tags</li>
        <li>${criterion}</li>
        <li>Public</li>
      </ul>
      <div class="total">${len(packet["liverpool_public"])}</div>
    </div>
    ${self.inclusion_table("liverpool_public", hint=True)}
  </div>

  <div class="mango-box third">
    <div class="visibility private">
      <ul>
        <li>Do not have activity tags</li>
        <li>${criterion}</li>
        <li>Private</li>
      </ul>
      <div class="total">${len(packet["liverpool_private"])}</div>
    </div>
    ${self.inclusion_table("liverpool_private", hint=True)}
  </div>

  <div class="mango-box third">
    <div class="visibility pending">
      <ul>
        <li>Do not have activity tags</li>
        <li>${criterion}</li>
        <li>Pending</li>
      </ul>
      <div class="total">${len(packet["liverpool_pending"])}</div>
    </div>
    ${self.inclusion_table("liverpool_pending", hint=True)}
  </div>
</div>
%endif

%if packet["sipri_public"] or packet["sipri_private"] or packet["sipri_pending"]:
<div class="inclusion">
  <h3>Sipri 100: Add activity tags:</h3>

  <% criterion = "In Sipri top 100." %>

  <div class="mango-box third">
    <div class="visibility public">
      <ul>
        <li>Do not have activity tags</li>
        <li>${criterion}</li>
        <li>Public</li>
      </ul>
      <div class="total">${len(packet["sipri_public"])}</div>
    </div>
    ${self.inclusion_table("sipri_public", hint=True)}
  </div>

  <div class="mango-box third">
    <div class="visibility private">
      <ul>
        <li>Do not have activity tags</li>
        <li>${criterion}</li>
        <li>Private</li>
      </ul>
      <div class="total">${len(packet["sipri_private"])}</div>
    </div>
    ${self.inclusion_table("sipri_private", hint=True)}
  </div>

  <div class="mango-box third">
    <div class="visibility pending">
      <ul>
        <li>Do not have activity tags</li>
        <li>${criterion}</li>
        <li>Pending</li>
      </ul>
      <div class="total">${len(packet["sipri_pending"])}</div>
    </div>
    ${self.inclusion_table("sipri_pending", hint=True)}
  </div>
</div>
%endif

%if packet["note_public"] or packet["note_private"] or packet["note_pending"]:
<div class="inclusion">
  <h3>Has notes: Add activity tags:</h3>

  <% criterion = "Have more than 3 notes." %>

  <div class="mango-box third">
    <div class="visibility public">
      <ul>
        <li>Do not have activity tags</li>
        <li>${criterion}</li>
        <li>Public</li>
      </ul>
      <div class="total">${len(packet["note_public"])}</div>
    </div>
    ${self.inclusion_table("note_public", hint=True)}
  </div>

  <div class="mango-box third">
    <div class="visibility private">
      <ul>
        <li>Do not have activity tags</li>
        <li>${criterion}</li>
        <li>Private</li>
      </ul>
      <div class="total">${len(packet["note_private"])}</div>
    </div>
    ${self.inclusion_table("note_private", hint=True)}
  </div>

  <div class="mango-box third">
    <div class="visibility pending">
      <ul>
        <li>Do not have activity tags</li>
        <li>${criterion}</li>
        <li>Pending</li>
      </ul>
      <div class="total">${len(packet["note_pending"])}</div>
    </div>
    ${self.inclusion_table("note_pending", hint=True)}
  </div>
</div>
%endif

%if packet["remove_public"] or packet["include_private"] or packet["include_pending"]:
<div class="inclusion">
  <h3>Probably have wrong visibility setting: Add activity tags:</h3>

  <div>
    <p>Note: Current inclusion criteria is: (DSEi exhibitor <strong>and</strong> Military export applicant) <strong>or</strong> SIPRI top 100</p>
    <p>Key:
      <strong>D</strong>: has a DSEI product tag,
      <strong>P</strong>: has a Security & Policing product tag,
    </p>
  </div>
  
  <div class="mango-box third">
    <div class="visibility public">
      <ul>
        <li>Do not have activity tags</li>
        <li>Do not meet inclusion criteria</li>
        <li>Public</li>
      </ul>
      <div class="total">${len(packet["remove_public"])}</div>
    </div>
    ${self.inclusion_table("remove_public", hint=True)}
  </div>

  <div class="mango-box third">
    <div class="visibility private">
      <ul>
        <li>Do not have activity tags</li>
        <li>Meet inclusion criteria</li>
        <li>Private</li>
      </ul>
      <div class="total">${len(packet["include_private"])}</div>
    </div>
    ${self.inclusion_table("include_private", hint=True)}
  </div>

  <div class="mango-box third">
    <div class="visibility pending">
      <ul>
        <li>Do not have activity tags</li>
        <li>Meet inclusion criteria</li>
        <li>Pending</li>
      </ul>
      <div class="total">${len(packet["include_pending"])}</div>
    </div>
    ${self.inclusion_table("include_pending", hint=True)}
  </div>
</div>
%endif


%if packet["include_public"] or packet["remove_private"] or packet["remove_pending"]:
<div class="inclusion">
  <h3>Probably have the right visibility setting: Add activity tags:</h3>

  <div>
    <p>Note: Current inclusion criteria is: (DSEi exhibitor <strong>and</strong> Military export applicant) <strong>or</strong> SIPRI top 100</p>
    <p>Key:
      <strong>D</strong>: has a DSEI product tag,
      <strong>P</strong>: has a Security & Policing product tag,
    </p>
  </div>
  
  <div class="mango-box third">
    <div class="visibility public">
      <ul>
        <li>Do not have activity tags</li>
        <li>Meet inclusion criteria</li>
        <li>Public</li>
      </ul>
      <div class="total">${len(packet["include_public"])}</div>
    </div>
    ${self.inclusion_table("include_public", hint=True)}
  </div>

  <div class="mango-box third">
    <div class="visibility private">
      <ul>
        <li>Do not have activity tags</li>
        <li>Do not meet inclusion criteria</li>
        <li>Private</li>
      </ul>
      <div class="total">${len(packet["remove_private"])}</div>
    </div>
    ${self.inclusion_table("remove_private", hint=True)}
  </div>
</div>
%endif




</%def>

