<%inherit file="base.html"/>



<%def name="title()">
%if obj:
%if "linked" in obj and obj["linked"] == 1:
${obj["linked"][0]["name"]} | 
%endif
Note ${obj["id"]}
%else:
%if entity:
${entity["name"]} | Add Note
%else:
New Note
%endif
%endif
</%def>



<%def name="page()">

<%
    assert int(bool(obj)) + int(bool(entity)) <= 1
%>

<h1>
%if obj:
%if "linked" in obj and len(obj["linked"]) == 1:
<a
   href="${url_rewrite(obj["linked"][0]["url"])}"
   >${obj["linked"][0]["name"]}</a>
 | 
%endif
<a
   href="${url_rewrite(obj["url"])}"
   >Note ${obj["id"]}</a>
%else:
%if entity:
${entity["name"]} | Add Note
%else:
New Note
%endif
%endif
</h1>

%if moderator and (parameters.get("view", None) == "edit"):
${note_form(obj=obj, entity=entity, next=next)}
%endif

<div class="mango-box full">
  %if moderator and (parameters.get("view", None) == "edit"):
  <div class="action-bar no-border">
    <h3>Preview</h3>
  </div>
  %endif

  %if obj:
  ${self.mini.render_note(obj, action=False, id='note-preview')}
  %else:
    <div id="note-preview" class="note">
      <div class="note-text markdown markdown-preview">
      </div>
      <div class="note-source markdown markdown-preview">
      </div>
    </div>
  %endif
</div>

</%def>


<%def name="note_form(obj=None, entity=None, next=None)">
<%
action = "/note"
put = False
if entity:
    action = entity["url"] + "/note"
    next = url_rewrite(entity["url"], parameters={})
elif obj:
    put = True
    action = obj["url"]
%>

<div class="mango-box full" id="note-form">
  <div class="form-hint">
    <p>Enter note text and source using <a href='http://daringfireball.net/projects/markdown/syntax'>Markdown syntax</a>.</p>
  </div>

  <form
     class="mango"
     action="${url_rewrite(action)}"
     method="post"
     >
    <input name="_xsrf" type="hidden" value="${xsrf}">
    %if put:
    <input name="_method" type="hidden" value="put">
    %endif
    %if next:
    <input name="next" type="hidden" value="${next}">
    %endif
    <label
       name="text"
       status="${obj and obj.get("text", "") and 'good' or 'bad'}"
       class="textarea"
       >
      <span>Text</span>\
      <span class="requirement">(required)</span>
      <textarea
         name="text"
         >${obj and obj.get("text", "") or ""}</textarea>
    </label>
    <label
       name="source"
       status="${obj and obj.get("source", "") and 'good' or 'bad'}"
       class="textarea"
       >
      <span>Source</span>
      <span class="requirement">(required)</span>
      <textarea
         name="source"
         placeholder="One or more external links or publications where the information can be verified, eg. www.example.com/address, Janes Defence issue 123."
         >${obj and obj.get("source", "") or ""}</textarea>
    </label>

    ${self.mini.visibility_input(obj, "public")}

    <input type="submit" value="Save">
  </form>

  %if obj:
  <form
     action="${url_rewrite(obj["url"])}"
     method="post"
     >
    <input name="_xsrf" type="hidden" value="${xsrf}">
    <input name="_method" type="hidden" value="delete">
    %if next:
    <input name="next" type="hidden" value="${url_rewrite(next, parameters={})}">
    %endif
    <input type="submit" value="Delete">
  </form>
  %endif
</div>

</%def>
