<%inherit file="base.html"/>

<%def name="title()">Note ${note.note_id}</%def>

<%def name="page()">

<h1>
  <a
     href="${url_rewrite(obj["url"], parameters)}"

     href="${note.url}"
     >Note ${note.note_id}</a>
</h1>

<div class="box full">
  ${self.mini.render_note(note, action=False, id='note-preview')}
</div>



<div class="box full">
  <h3>Linked Organisations</h3>
  %if not note.org_list:
  None
  %endif
  <ul class="tag_list">
    %for org in note.org_list:
    ${self.mini.org_li(
      org.obj(public=bool(current_user)),
      link_url="%s%s" % (org.url, note.url), unlink=True
    )}
    %endfor
  </ul>

  <h3>Available Organisations</h3>

  <div class="action-bar">
    <form id="org-search">
      <label name="org_search">
        <span>Search</span>
        <input name="org_search" value="${org_search or ''}">
      </label>
      <input type="submit">
    </form>
  </div>

  <ul class="tag_list">
    %for org in org_list:
    %if note not in org.note_list:
    <li>
      <span>
        <a href="${org.url}">${org.name | n, h, unicode, nbsp}</a>
      </span>

      <span>
	<form
           action="${url_rewrite(org.url + not.url, dict(parameters, {"next": url_rewrite(uri)))}"
           method="post"
           >
	  <input name="_xsrf" type="hidden" value="${xsrf}">
	  <input name="_method" type="hidden" value="put">
	  <input type="submit" value="+">
	</form>
      </span>

    </li>
    %endif
    %endfor
  </ul>
</div>



<div class="box full">
  <h3>Linked Organisation Tags</h3>
  %if not note.orgtag_list:
  None
  %endif
  <ul class="tag_list">
    %for orgtag in note.orgtag_list:
    ${self.mini.tag_li(
      orgtag.obj(public=bool(current_user)),
      link_url="%s%s" % (orgtag.url, note.url), unlink=True
    )}
    %endfor
  </ul>

  <h3>Available Organisation Tags</h3>

  <div class="action-bar">
    <form id="orgtag-search">
      <label name="orgtag_search">
        <span>Search</span>
        <input name="orgtag_search" value="${orgtag_search or ''}">
      </label>
      <input type="submit">
    </form>
  </div>

  <ul class="tag_list">
    %for orgtag in orgtag_list:
    %if note not in orgtag.note_list:
    <li>
      <span>
        <a href="${orgtag.url}">${orgtag.name | n, h, unicode, nbsp}</a>
      </span>

      <span>
	<form
           action="${url_rewrite(orgtag.url + not.url, dict(parameters, {"next": url_rewrite(uri)))}"
           method="post"
           >
	  <input name="_xsrf" type="hidden" value="${xsrf}">
	  <input name="_method" type="hidden" value="put">
	  <input type="submit" value="+">
	</form>
      </span>

    </li>
    %endif
    %endfor
  </ul>
</div>



<div class="box full">
  <h3>Linked Addresses</h3>
  %if not note.address_list:
  None
  %endif
  <ul class="tag_list">
    %for address in note.address_list:
    ${self.mini.address_li(
      address.obj(public=bool(current_user)),
      link_url="%s%s" % (address.url, note.url), unlink=True
    )}
    %endfor
  </ul>
  </ul>
</div>



<script type="text/html" id="org_li">\
${mini.org_li | n}\
</script>

</%def>
