<%inherit file="base.html"/>

<%def name="title()">Organisation Tags</%def>

<%def name="page()">

<h1>Organisation Tags</h1>

<table>
  <tbody>
    % for organisation_tag in organisation_tag_list:
    <tr>
      <td><a href="${organisation_tag.url}">${organisation_tag.name}</a></td>
      <td>${organisation_tag.short}</td>
      <td>${len(organisation_tag.note_list())} notes</td>
    </tr>
    % endfor
  </tbody>
</table>

Add organisation_tag
<form action="${uri}" method="post">
  <input name="_xsrf" type="hidden" value="${xsrf}">
  <label>
    <span>Name</span>
    <input name="name" value="">
  </label>
  <input type="submit">
</form>

</%def>

</body>

</html>
