<%inherit file="base.html"/>

<%def name="title()"><%
search_terms = [
    u"Companies",
    name_search or None,
    location_string() or None,
    tag_name_list and ", ".join([short for short in tag_name_list]) or None,
    tag_all and "all tags" or None,
    parameters.get("visibility", None),
    ]
title = " | ".join([term for term in search_terms if term is not None])
return title
%></%def>

<%def name="location_string()"><%
value = ""
if location:
    if 'name' in location:
        value = location["name"]
    else:
        value = str(location["south"]) + ", " + \
            str(location["north"]) + ", " + \
            str(location["west"]) + ", " + \
            str(location["east"])
return value
%></%def>

<%def name="page()">
<%
name_hint = ""
tag_hint = ""
if org_packet:
    name_hint = "Eg. BAE Systems"
    tag_hint = "Eg. missiles, tanks"
    try:
        name_hint = "Eg. " + ", ".join(org_packet["hint"]["name"])
        tag_hint = "Eg. " + ", ".join(org_packet["hint"]["tag"])
    except KeyError as e:
        pass
%>

<h1>Companies</h1>


<div class="action-bar">
  <form id="org-search">
    <h3>Filter</h3>
    ${self.mini.visibility_search_input(parameters.get("visibility", None), current_user)}
    <input type="hidden" name="offset" value="${offset or ""}">
    <input type="hidden" name="zoomMax" value="${zoom_max or ""}">
    <div class="inputs">
      <label name="nameSearch">
        <span>Name</span>
        <input
           name="nameSearch"
           value="${name_search or ""}"
           placeholder="${name_hint}">
      </label>
      <label name="location">
        <span>Location</span>
        <input
           name="location"
           value="${location_string()}"
           placeholder="Eg. NW1">
      </label>
      <label name="tag">
        <span>Tags</span>
        <input
           name="tag"
           value="${tag_name_list and ", ".join([short for short in tag_name_list]) or ""}"
           placeholder="${tag_hint}">
      </label>
      <label name="tagAll">
        <span>Match all tags</span>
        <input type="checkbox" name="tagAll" value="1"${tag_all and ' checked="checked"' or ''}>
      </label>
    </div>
    <div class="actions">
      <input type="submit" value="Submit">
    </div>
  </form>
</div>

<div id="mango-map-box">
  <div id="mango-map-canvas">Map loading...</div>
</div>

<div class="mango-box right" id="org_list">

<div class="mango-social-bar">
    <a>
      <p>
      </p>
      <img src="${url_root}static/image/header-social-twitter.png" width="27">
    </a>
</div>

<div class="action-bar">
  <span class="counts">
    %if org_packet:
    ${self.mini.counts(
      org_packet["orgList"],
      offset,
      org_packet["orgLength"],
      not lookup and query_rewrite(dict(parameters, **{"offset": (offset or 0) + len(org_packet["orgList"])}))
      )}
    %endif
  </span>

  %if current_user and (parameters.get("view", None) == "edit"):
  <ul class="actions">
    <a
       class="action"
       href="${url_rewrite("/organisation/new")}"
       >Create a company</a>
  </ul>
  %endif
</div>

<div class="column">
  %if org_packet:
  %for org in org_packet["orgList"]:
  ${self.mini.org_box(org, parameters=parameters) | n}
  %endfor
  %endif
</div>
</div>

</%def>

