<%inherit file="base.html"/>



<%def name="title()"><%
return obj and obj["name"] or "New Company"
%></%def>



<%def name="logout_url()">
<% return obj and obj.get("public", True) and uri or "/" %>
</%def>



<%def name="split_tags(tag_list)">
<%

path_dict = {}
for tag in tag_list:
    if not tag["path"] in path_dict:
        path_dict[tag["path"]] = []
    path_dict[tag["path"]].append(tag)
path_keys = sorted(path_dict.keys(), key=lambda key: len(path_dict[key]))
if None in path_keys:
    path_keys.append(path_keys.pop(path_keys.index(None)))

return path_keys, path_dict
%>
</%def>



<%def name="page()">
<%
edit = parameters.get("view", None) == "edit"
%>

<h1>
  %if obj:
  <a
     href="${url_rewrite(obj["url"])}"
     >${obj["name"]}</a>
  %else:
  New Company
  %endif
</h1>

<div class="section">

  <div id="mango-map-box">
    %if obj:
    <div id="mango-map-canvas">Map loading...</div>
    %endif
    
    <!-- Description Preview Start -->
    %if edit:
    <div class="mango-entity-section">
      %if not obj:
      <h3>Similar companies</h3>
      <div id="mango-similar-org-list"></div>
      %endif

      <h3>Description Preview</h3>
      <div class="description markdown markdown-preview">
        %if obj and obj["description"]:
        ${obj["description"] | n, markdown_safe, convert_links}
        %endif
      </div>
    </div>
    %endif
    <!-- Description Preview End -->

    <!-- Tags Start -->
    %if obj and (edit or obj.get("orgtagList", None)):
    <div class="mango-entity-section">

      %if edit and moderator:
      <div class="action-bar no-border">
        <h3>Tags</h3>

        <div class="actions">
          <a
             href="${url_rewrite("%s/tag" % obj["url"])}"
             class="action"
             >Edit tags</a>
        </div>
      </div>
      %endif

      <%
         tag_keys, tag_dict = split_tags(obj["orgtagList"])
         %>
      %for key in tag_keys:
      <h4>${key or "Other"}</h4>
      <ul class="tag_list">
        %for tag in tag_dict[key]:
        ${self.mini.tag_li(
          tag,
          visibility=True,
          parameters=parameters,
          )}
        %endfor
      </ul>
      %endfor

    </div>
    %endif
    <!-- Tags End -->

  </div>
  
  <div class="form-by-map" id="org-form">
    ${self.mini.visibility_bar(obj)}
    
    %if edit and not edit_block:
    <h3>Company</h3>
    
    <form
       class="mango"
       action="${url_rewrite(obj and obj["url"] or '/organisation')}"
       method="post"
       >
      <input name="_xsrf" type="hidden" value="${xsrf}">
      %if obj:
      <input name="_method" type="hidden" value="put">
      %endif:
      <label name="name">
	<span>Name</span>
	<span class="requirement">(required)</span>
	<input name="name" value="${obj and obj["name"] or ''}">
      </label>
      <label name="end_date">
	<span>Ceased operating</span>
	<span class="requirement"></span>
	<input
           name="end_date"
           placeholder="Format is 'YYYY-MM-DD', eg. '2012-07-24'."
           value="${obj and obj["endDate"] | n, form_date}"
           >
      </label>
      <div class="form-hint">
        <p>Enter description using <a href='http://daringfireball.net/projects/markdown/syntax'>Markdown syntax</a>.</p>
      </div>

      <label
         name="description"
         status="${obj and obj.get("description", "") and 'good' or ''}"
         class="textarea"
         >
        <span>Description</span>\
        <span class="requirement"></span>
        <textarea
           name="description"
           >${obj and obj.get("description", "") or ""}</textarea>
      </label>
      ${self.mini.visibility_input(obj, "public")}
      <input type="submit" value="Save">
      %if not obj:
      <p>You can add addresses, etc. after the company has been created.</a>
      %endif
    </form>

    ${self.mini.delete_input(obj, next_="/organisation")}

    %else:

    %if edit_block:
    <p class="warning">Editing is disabled because <a href="${url_rewrite(version_url)}">pending suggested revisions</a> exist.</p>
    %endif:

    <!-- Time Start -->
    %if obj["endDate"]:
    <div class="mango-entity-section">
      <h3>Ceased operation</h3>
      ${obj["endDate"] | n, page_date}
    </div>
    %endif
    <!-- Time End -->

    <!-- Description Start -->
    %if obj["description"] or not moderator:
    <div class="mango-entity-section">

      <h3>Description</h3>
      <div class="description-preview markdown">
        %if obj["description"]:
        ${obj["description"] | n, markdown_safe, convert_links}
        %else:
        <p>There is no description yet for this company.</p>
        <p>Read <a href="${protocol}://www.caat.org.uk/resources/mapping/about-this-map">about the map</a> to see why companies are included on the map.</p>
        %endif
      </div>

    </div>
    %endif
    <!-- Description End -->

    %endif


    %if events_enabled:
    <!-- Events Start -->
    %if obj and (edit or not moderator or obj["eventList"]):
    <div class="mango-entity-section">
    <div class="action-bar no-border">
      <h3>Events</h3>

      %if edit and moderator:
      <div class="actions">
        <a
           href="${url_rewrite("%s/event" % obj["url"])}"
           class="action"
           >Edit events</a>
      </div>
      %endif
    </div>

    %if obj["eventList"]:
    <ul class="event_list">
      %for event in obj["eventList"]:
      ${self.mini.event_box(
        event, parameters=parameters,
        )}
      %endfor
    </ul>
    %elif not current_user:
    <p>No events yet.
    <a
       href="${url_rewrite("/creative-action")}"
       >Learn more about organising your own</a>,
    then 
    <a
       href="${url_rewrite("/submit")}"
       >tell us about it</a>!</p>
    %endif

    </div>
    %endif
    <!-- Events End -->
    %endif

    <!-- Contacts Start -->
    %if obj and (edit or obj["contactList"]):
    <div class="mango-entity-section">
      <div class="action-bar no-border">
        <h3>Contact</h3>

        %if edit:
        <div class="actions">
          <a
             href="${url_rewrite("%s/contact" % obj["url"])}"
             class="action"
             >Add contact</a>
        </div>
        %endif
        
      </div>
      
      %for contact in obj["contactList"]:
      ${self.mini.contact_box(
        contact,
        "%s%s" % (obj["url"], contact["url"]),
        unlink=True,
        parameters=parameters,
        )}
      %endfor
      
    </div>
    %endif
    <!-- Contacts End -->

    <!-- Address Start -->
    %if obj and (edit or obj["addressList"]):
    <div class="mango-entity-section">
      <div class="action-bar no-border">
        <h3>Addresses</h3>

        %if edit:
        <div class="actions">
          <a
             href="${url_rewrite("%s/address" % obj["url"])}"
             class="action"
             >Add address</a>
        </div>
        %endif
      </div>

      %for address in obj["addressList"]:
      ${self.mini.address_box(
        address,
        "%s%s" % (obj["url"], address["url"]),
        unlink=True,
        parameters=parameters,
        show_source=(edit and moderator),
        )}
      %endfor

    </div>
    %endif
    <!-- Address End -->

    <!-- Alias Start -->
    %if obj and (edit and moderator or obj["orgaliasList"]):
    <div class="mango-entity-section">
      <div class="action-bar no-border">
        <h3>Aliases</h3>
        %if moderator and edit:
        <div class="actions">
          <a
             href="${url_rewrite("%s/alias" % obj["url"])}"
             class="action"
             >Edit aliases</a>
        </div>
        %endif
      </div>

      %if obj["orgaliasList"]:
      <ul class="alias_list">
        %for orgalias in obj["orgaliasList"]:
        ${self.mini.alias_li(
        orgalias, visibility=True, parameters=parameters,
        )}
        %endfor
      </ul>
      %endif

    </div>
    %endif
    <!-- Alias End -->

  </div>
  
</div>

<!-- Note Start -->
%if obj and (edit or obj["noteList"]):
${self.mini.render_note_section(obj["noteList"],
  obj["url"] + "/note",
  obj["url"],
  note_search,
  note_order,
  unlink_url=obj["url"],
  parameters=parameters,
  )}
%endif
<!-- Note End -->

</%def>



