<%inherit file="base.html"/>

<%def name="title()">${organisation.name}</%def>

<%def name="page()">

<h1><a href="${organisation.url}">${organisation.name}</a></h1>

%if current_user:
${organisation.visible and "Visible" or "Deleted"}
<form action="${organisation.url}" method="post">
  <input name="_xsrf" type="hidden" value="${xsrf}">
  <input name="_method" type="hidden" value="put">
  <label>
    <span>Name</span>
    <input name="name" value="${organisation.name}">
  </label>

  %for address in organisation.address_list():
  <input name="address_id" type="hidden" value="${address.address_e}">
  %endfor

  %for tag in organisation.tag_list():
  <input name="tag_id" type="hidden" value="${tag.organisation_tag_e}">
  %endfor

  <input type="submit">
</form>

<form action="${organisation.url}" method="post">
  <input name="_xsrf" type="hidden" value="${xsrf}">
  <input name="_method" type="hidden" value="delete">
  <input type="submit" value="delete">
</form>
%endif

<h3>Tags</h3>
<table>
  <tbody>
    %for tag in organisation.tag_list():
    <tr>
      <td>
	<a href="${tag.url}">${tag.name}</a>
      </td>
      %if current_user:
      <td>
	<form action="${organisation.url}" method="post">
	  <input name="_xsrf" type="hidden" value="${xsrf}">
	  <input name="_method" type="hidden" value="put">
	  <input name="name" type="hidden" value="${organisation.name}">
	  %for address in organisation.address_list():
	  <input name="address_id" type="hidden" value="${address.address_e}">
	  %endfor
	  %for tag_2 in organisation.tag_list():
	  %if tag_2.organisation_tag_e == tag.organisation_tag_e:
	  <% continue %>
	  %endif
	  <input name="tag_id" type="hidden" value="${tag_2.organisation_tag_e}">
	  %endfor
	  <input type="submit" value="delete">
	</form>
      </td>
      %endif
    </tr>
    %endfor
  </tbody>
</table>


<h3>Addresses</h3>
<table>
  <tbody>
    %for address in organisation.address_list():
    <tr>
      <td>
	${address.postal | n, h, unicode, newline}
      </td>
      %if current_user:
      <td>
	<a href="${address.url}">Edit</a>
      </td>
      <td>
	<form action="${organisation.url}" method="post">
	  <input name="_xsrf" type="hidden" value="${xsrf}">
	  <input name="_method" type="hidden" value="put">
	  <input name="name" type="hidden" value="${organisation.name}">
	  %for address_2 in organisation.address_list():
	  %if address_2.address_e == address.address_e:
	  <% continue %>
	  %endif
	  <input name="address_id" type="hidden" value="${address_2.address_e}">
	  %endfor
	  %for tag in organisation.tag_list():
	  <input name="tag_id" type="hidden" value="${tag.organisation_tag_e}">
	  %endfor
	  <input type="submit" value="delete">
	</form>
      </td>
      %endif
    </tr>
    %endfor
  </tbody>
</table>


<h4>Add address</h4>
<form action="${organisation.url}/address" method="post">
  <input name="_xsrf" type="hidden" value="${xsrf}">
  <label>
    <span>Postal</span>
    <textarea name="postal"></textarea>
  </label>
  <label>
    <span>Lookup</span>
    <textarea name="lookup"></textarea>
  </label>
  <label>
    <span>Longitude</span>
    <input name="longitude" value="">
  </label>
  <label>
    <span>Latitude</span>
    <input name="latitude" value="">
  </label>
  <input type="submit">
</form>

</%def>

</body>

</html>
