<%inherit file="base.html"/>

<%def name="title()">${obj and obj["name"] or "New Company"}</%def>

<%def name="logout_url()">
<% return obj and obj.get("public", True) and uri or "/" %>
</%def>

<%def name="page()">

<h1>
  %if obj:
  <a
     href="${url_rewrite(obj["url"])}"
     >${obj["name"]}</a>
  %else:
  New Company
  %endif
</h1>

<div class="section">

  <div id="mango-map-box">
    <div id="mango-map-canvas">Map loading...</div>
    
    <!-- Description Preview Start -->
    %if current_user and (parameters.get("view", None) == "edit"):
    <hr />
    <h3>Description Preview</h3>
    <div class="description markdown markdown-preview">
      %if obj and obj["description"]:
      ${obj["description"] | n, markdown_safe, convert_links}
      %endif
    </div>
    %endif
    <!-- Description Preview End -->

    <!-- Events Start -->
    %if obj:
    <hr />
    <div class="action-bar no-border">
      <h3>Events</h3>

      %if moderator and (parameters.get("view", None) == "edit"):
      <div class="actions">
        <a
           href="${url_rewrite("%s/event" % obj["url"])}"
           class="action"
           >Edit events</a>
      </div>
      %endif
    </div>

    %if "event_list" in obj and obj["event_list"]:
    <ul class="event_list">
      %for event in obj["event_list"]:
      ${self.mini.event_box(
        event, parameters=parameters,
        )}
      %endfor
    </ul>
    %else:
    %if not current_user:
    <!-- For any non-moderators -->
    <p>No events yet.
    <a
       href="${url_rewrite("/creative-action.php")}"
       >Learn more about organising your own</a>,
    then 
    <a
       href="${url_rewrite("/submit.php")}"
       >tell us about it</a>!</p>
    %endif
    %endif
    %endif
    <!-- Events End -->

    <!-- Tags Start -->
    %if obj:
    <hr />
    <div class="action-bar no-border">
      <h3>Tags</h3>

      %if moderator and (parameters.get("view", None) == "edit"):
      <div class="actions">
        <a
           href="${url_rewrite("%s/tag" % obj["url"])}"
           class="action"
           >Edit tags</a>
      </div>
      %endif
    </div>

    %if "orgtag_list" in obj:

<%
type_tag_list = "orgtag_list"

path_dict = {}
for tag in obj[type_tag_list]:
    if not tag["path"] in path_dict:
        path_dict[tag["path"]] = []
    path_dict[tag["path"]].append(tag)
path_keys = sorted(path_dict.keys(), key=lambda key: len(path_dict[key]))
if None in path_keys:
    path_keys.append(path_keys.pop(path_keys.index(None)))
%>

    %for key in path_keys:
    <h4>${key or "Other"}</h4>
    <ul class="tag_list">
      %for tag in path_dict[key]:
      ${self.mini.tag_li(
        tag, visibility=True, parameters=parameters,
        )}
      %endfor
    </ul>
    %endfor

    %endif
    %endif
    <!-- Tags End -->

  </div>
  
  <div class="form-by-map" id="org-form">
    ${self.mini.visibility_bar(obj)}
    
    %if current_user and (parameters.get("view", None) == "edit"):
    %if edit_block:
    <p class="warning">Editing is disabled because <a href="${url_rewrite(version_url)}">pending suggested revisions</a> exist.</p>
    ${org_browse(obj)}
    %else:
    <h3>Company</h3>
    
    <form
       class="mango"
       action="${url_rewrite(obj and obj["url"] or '/organisation')}"
       method="post"
       >
      <input name="_xsrf" type="hidden" value="${xsrf}">
      %if obj:
      <input name="_method" type="hidden" value="put">
      %endif:
      <label name="name">
	<span>Name</span>
	<span class="requirement">(required)</span>
	<input name="name" value="${obj and obj["name"] or ''}">
      </label>
      
      <div class="form-hint">
        <p>Enter description using <a href='http://daringfireball.net/projects/markdown/syntax'>Markdown syntax</a>.</p>
      </div>

      <label
         name="description"
         status="${obj and obj.get("description", "") and 'good' or ''}"
         class="textarea"
         >
        <span>Description</span>\
        <span class="requirement"></span>
        <textarea
           name="description"
           >${obj and obj.get("description", "") or ""}</textarea>
      </label>
      ${self.mini.visibility_input(obj, "public")}
      <input type="submit" value="Save">
    </form>

    ${self.mini.delete_input(obj, next_="/organisation")}

    %endif
    %else:
    ${org_browse(obj)}
    %endif


    %if obj:
    %if "contact_list" in obj:
    <div class="action-bar no-border">
      <h3>Contact</h3>

      %if current_user and (parameters.get("view", None) == "edit"):
      <div class="actions">
        <a
           href="${url_rewrite("%s/contact" % obj["url"])}"
           class="action"
           >Add contact</a>
      </div>
      %endif
    </div>

    %for contact in obj["contact_list"]:
    ${self.mini.contact_box(
      contact,
      "%s%s" % (obj["url"], contact["url"]), unlink=True,
      parameters=parameters,
      )}
    %endfor
    %endif
    %endif


    %if obj:
    %if "address_list" in obj:
    <div class="action-bar no-border">
      <h3>Addresses</h3>

      %if current_user and (parameters.get("view", None) == "edit"):
      <div class="actions">
        <a
           href="${url_rewrite("%s/address" % obj["url"])}"
           class="action"
           >Add address</a>
      </div>
      %endif
    </div>

    %for address in obj["address_list"]:
    ${self.mini.address_box(
      address,
      "%s%s" % (obj["url"], address["url"]), unlink=True,
      parameters=parameters,
      )}
    %endfor
    %endif
    %endif

    %if obj:
    %if ("orgalias_list" in obj and obj["orgalias_list"]) or (moderator and (parameters.get("view", None) == "edit")):
    <div class="action-bar no-border">
      <h3>Aliases</h3>
      %if moderator and (parameters.get("view", None) == "edit"):
      <div class="actions">
        <a
           href="${url_rewrite("%s/alias" % obj["url"])}"
           class="action"
           >Edit aliases</a>
      </div>
      %endif
    </div>
    %endif

    %if "orgalias_list" in obj and obj["orgalias_list"]:
    <ul class="alias_list">
      %for orgalias in obj["orgalias_list"]:
      ${self.mini.alias_li(
        orgalias, visibility=True, parameters=parameters,
        )}
      %endfor
    </ul>
    %endif
    %endif

  </div>
  
</div>

%if obj and "note_list" in obj:
${self.mini.render_note_section(obj["note_list"],
  obj["url"] + "/note", obj["url"],
  note_search, note_order, unlink_url=obj["url"],
  parameters=parameters,
  )}
%endif

</%def>



<%def name="org_browse(obj)">
<h3>Company</h3>
    
%if obj:
${obj["name"]}

%if obj["description"]:
<h3>Description</h3>

<div class="description-preview markdown">
  ${obj["description"] | n, markdown_safe, convert_links}
</div>
%endif
%endif
</%def>
