<%inherit file="base.html"/>

<%def name="title()">${organisation_tag.name}</%def>

<%def name="page()">

<h1><a href="${organisation_tag.url}">${organisation_tag.name}</a></h1>

%if current_user:
<form action="${organisation_tag.url}" method="post">
  <input name="_xsrf" type="hidden" value="${xsrf}">
  <input name="_method" type="hidden" value="put">
  <label>
    <span>Name</span>
    <input name="name" value="${organisation_tag.name}">
  </label>
  <span>${organisation_tag.short}</span>
  <input type="submit">
</form>
%else:
<table>
  <tbody>
    <tr>
      <td>Name</td>
      <td><a href="${organisation_tag.url}">${organisation_tag.name}</a></td>
      <td>${organisation_tag.short}</td>
    </tr>
  </tbody>
</table>
%endif

<h3>Notes</h3>
<table>
  <tbody>
    %for note in organisation_tag.note_list():
    <tr>
      <td>
	${note.text | n, h, unicode, newline}
      </td>
      %if current_user:
      <td>
	<a href="${note.url}">Edit</a>
      </td>
      <td>
	<form action="${organisation_tag.url}" method="post">
	  <input name="_xsrf" type="hidden" value="${xsrf}">
	  <input name="_method" type="hidden" value="put">
	  <input name="name" type="hidden" value="${organisation_tag.name}">
	  %for note_2 in organisation_tag.note_list():
	  %if note_2.note_e == note.note_e:
	  <% continue %>
	  %endif
	  <input name="note_id" type="hidden" value="${note_2.note_e}">
	  %endfor
	  <input type="submit" value="delete">
	</form>
      </td>
      %endif
    </tr>
    %endfor
  </tbody>
</table>

<h4>Add note</h4>
<form action="${organisation_tag.url}/note" method="post">
  <input name="_xsrf" type="hidden" value="${xsrf}">
  <label>
    <span>Text</span>
    <textarea name="text"></textarea>
  </label>
  <label>
    <span>Source</span>
    <textarea name="source"></textarea>
  </label>
  <input type="submit">
</form>

</%def>

</body>

</html>
