<%inherit file="base.html"/>

<%def name="title()">Organisations</%def>

<%def name="page()">

<h1>Organisations</h1>

<table id="all_organisations">
  %for organisation in organisation_list:
  <tr>
    <td>
      <a href="${organisation.url}">${organisation.name}</a>
    </td>
    <td>${len(organisation.tag_list())} tags</td>
    <td>${len(organisation.address_list())} addresses</td>
    <td>${len(organisation.note_list())} notes</td>
    %if current_user:
    <td>
      <form action="${organisation.url}" method="post">
	<input name="_xsrf" type="hidden" value="${xsrf}">
	<input name="_method" type="hidden" value="delete">
	<input type="submit" value="delete">
      </form>
    </td>
    %endif
  </tr>
  %endfor
</table>

Add organisation
<form action="${uri}" method="post">
  <input name="_xsrf" type="hidden" value="${xsrf}">
  <label>
    <span>Name</span>
    <input name="name">
  </label>
  <input type="submit">
</form>

</%def>

</body>

</html>
