<%inherit file="base.html"/>

<%def name="title()">${obj["name"]} | Edit events</%def>

<%def name="logout_url()"><% return "/" %></%def>

<%def name="page()">

<h1>
  <a
     href="${url_rewrite(obj["url"])}"
     >${obj["name"]}</a> | Edit events
</h1>

<div class="section">
  <h3>Current events</h3>

  <ul class="tag_list">
    %for event in obj["event_list"]:
    ${self.mini.event_li(event,
      link_url="%s/event/%s" % (obj["url"], event["id"]),
      unlink=True,
      visibility=True,
      parameters=parameters,
    )}
    %endfor
  </ul>
</div>    

<div class="section">
  <h3>Available Events</h3>

  <div class="action-bar">
    <form id="event-search">
      <label name="search">
        <span>Search</span>
        <input name="search" value="${search or ''}">
      </label>
      ${self.mini.visibility_search_input(visibility, current_user)}
      <input type="submit" value="Submit">
    </form>

  </div>

  <ul class="tag_list">
    <%
       event_id_list = [event["id"] for event in obj["event_list"]]
       %>
    %for event in event_list:
    %if event["id"] not in event_id_list:
    ${self.mini.event_li(event,
      link_url="%s/event/%s" % (obj["url"], event["id"]),
      link=True,
      visibility=True,
      parameters=parameters,
    )}
    %endif
    %endfor
  </ul>
  %if event_count > 20:
  <p>Refine search for more results.</p>
  %endif

</div>
    
</%def>

