<%inherit file="base.html"/>

<%def name="title()"><%
return "Companies"
%></%def>

<%def name="page()">

<h1>Companies with no Address</h1>

<div class="action-bar">
  <h3>Filter</h3>
  <form id="org-search">
    ${self.mini.visibility_search_input(parameters.get("visibility", None), current_user)}
    <label name="nameSearch">
      <span>Name</span>
      <input name="nameSearch" value="${name_search or ""}" placeholder="Eg. BAE Systems">
    </label>
    <label name="tag">
      <span>Tags</span>
      <div class="dropdown">
        <ul class="dropdown">
        </ul>
      </div>
      <input
         name="tag"
         value="${tag_name_list and ", ".join([short for short in tag_name_list]) or ""}"
         placeholder="Type to search..."
         >
    </label>
    <input type="submit" value="Submit">
  </form>
</div>

<div class="mango-box full" id="org_list">
<div class="action-bar">
  <div class="counts">
    ${self.mini.counts(
      org_packet["orgList"],
      org_packet.get("offset", 0),
      org_packet["org_count"],
      not lookup and query_rewrite(dict(parameters, **{"offset": org_packet.get("offset", 0) + len(org_packet["orgList"])}))
      )}
  </div>

  %if current_user:
  <ul class="actions">
    <a
       class="action"
       href="${url_rewrite("/organisation/new")}"
       >Create a company</a>
  </ul>
  %endif
</div>

<div class="column">
  %for org in org_packet["orgList"]:
  ${self.mini.org_box(org) | n}
  %endfor
</div>
</div>

<script type="text/javascript">
org_packet = ${json_dumps(org_packet) | n};
orgtag_list = ${orgtag_list_json | n};
</script>

</%def>

