<%inherit file="base.html"/>

<%!
    import datetime
%>

<%def name="title()"><%
return "Revision"
%></%def>

<%def name="logout_url()">
<% return obj and obj.get("public", True) and obj.get("uri", None) or "/" %>
</%def>

<%def name="page()">

<h1>Revision</h1>

%if parameters.get("view", None) == "edit":
<p>Choose to keep the current version (left) or replace it with the revision (right).</p>
%endif

<p>Attributes which are the same for both versions are shown spanning both columns.</p>

<%
suggestion = (not latest_a_time) or (obj_v.get("date") > latest_a_time)
%>

<form
   action="${url_rewrite(action_url)}"
   method="post"
   >
  <input name="_xsrf" type="hidden" value="${xsrf}">
  <input name="_method" type="hidden" value="put">
  <table class="revision">
    <thead>
      <tr>
        <th>Current${not obj and " (deleted)" or ""}</th>
        <th>Revision</th>
      </tr>
    </thead>
    %if parameters.get("view", None) == "edit":
    <tfoot>
      <tr>
        <th>
          %if not suggestion:
          <a href="${url_rewrite(version_url)}">Keep Current${not obj and " (deleted)" or ""}</a>
          %endif
        </th>
        <th>
          %if suggestion:
          <input type="submit" value="Accept this suggestion">
          %elif not obj:
          <input type="submit" value="Restore this revision">
          %else:
          <input type="submit" value="Replace with this revision">
          %endif
        </th>
      </tr>
    </tfoot>
    %endif
    <tbody>
      %for field_name, field in fields:
      ${field_row(field_name, field)}
      %endfor
    </tbody>
  </table>
</form>

%if parameters.get("view", None) == "edit":
%if suggestion:
<br>
<form
   action="${url_rewrite(action_url)}"
   method="post"
   >
  <input name="_method" type="hidden" value="touch">
  <table class="revision">
    <tfoot>
      <tr>
        <th>
          <input type="submit" value="Decline all pending suggestions">
        </th>
        <th>
        </th>
      </tr>
    </tfoot>
  </table>
</form>
%endif
%endif

%if not (parameters.get("view", None) == "edit"):
<p>Enter edit mode to be able to restore this revision.</p>
%endif

</%def>



<%def name="field_row(field_name, field_type)">
<%
content = obj and obj.get(field_name, None)
content_v = obj_v.get(field_name, None)
%>
${field_form(field_name, field_type, content_v)}
<tr>
  %if obj:
  <th colspan="2">${field_name}</th>
  %else:
  <td></td>
  <th>${field_name}</th>
  %endif
</tr>
<tr>
  %if obj and content == content_v:
  <td colspan="2">
    ${field_col(field_type, content)}
  </th>
  %else:
  %if obj:
  <td>
    ${field_col(field_type, content)}
  </td>
  %else:
  <td></td>
  %endif
  <td>
    ${field_col(field_type, content_v)}
  </td>
  %endif
</tr>
</%def>



<%def name="field_col(field_type, content)">
%if field_type == "name":
${content or ""}
%elif field_type == "markdown":
<div class="markdown">
${content or ""| n, markdown_safe, convert_links}
</div>
%elif field_type == "date":
${content | n, page_date}
%elif field_type == "time":
${content | n, page_time}
%elif field_type == "public":
${self.mini.visibility_public(content)}
%else:
Unknown type: ${field_type}
%endif
</%def>


<%def name="field_form(field_name, field_type, content)">
%if field_type in ["name", "markdown"]:
<input type="hidden" name="${field_name}" value="${content or ""}">
%elif field_type == "date":
<input type="hidden" name="${field_name}" value="${content | n, form_date}">
%elif field_type == "time":
<input type="hidden" name="${field_name}" value="${content | n, form_time}">
%elif field_type == "public":
<input type="hidden" name="${field_name}"
       value="${{False: 'false', None: 'null', True: 'true'}[content]}">
%else:
Unknown type: ${field_type}
%endif
</%def>


