<%inherit file="base.html"/>



<%def name="title()">
%if obj:
${obj["name"]}
%else:
New ${type_title} Tag
%endif
</%def>



<%def name="page()">

<h1>
%if obj:
<a
   href="${url_rewrite(obj["url"], parameters)}"
   >${obj["name"]}</a>
%else:
New ${type_title} Tag
%endif
</h1>

<div class="section">
<%

action = "/%s-tag" % type_url
put = False
if obj:
    action = obj["url"]
    put = True

%>

  %if current_user:
  <div class="box left" id="tag-form">
    <form
       class="mango"
       action="${url_rewrite(action, parameters)}"
       method="post"
       >
      <input name="_xsrf" type="hidden" value="${xsrf}">
      %if put:
      <input name="_method" type="hidden" value="put">
      %endif
      <label name="name">
	<span>Name</span>
	<input name="name" value="${obj and obj["name"] or ''}">
      </label>
      ${self.mini.visibility_input(obj)}
      <input type="submit">
    </form>

    %if current_user and obj and type_entity_list in obj and not obj[type_entity_list]:
    <form
       action="${url_rewrite(obj["url"], parameters)}"
       method="post"
       >
      <input name="_xsrf" type="hidden" value="${xsrf}">
      <input name="_method" type="hidden" value="delete">
      <input type="submit" value="Delete">
    </form>
    %endif

  </div>

  <div class="box right">
    <h3>Suggested existing tags</h3>
    <ul id="tag_list" class="tag_list" class="block-right">
    </ul>
  </div>

  %endif

</div>

%if obj:
<div class="box full" id="tag-links">
  %if obj and type_entity_list in obj:
  <div>
    <h3>${type_title_plural} (${len(obj[type_entity_list])})</h3>
    <ul class="tag_list">
      %for entity in obj[type_entity_list]:
      ${getattr(self.mini, type_li_template)(
        entity,
        link_url=entity["url"] + obj["url"],
        unlink=len(obj[type_entity_list]),
        visibility=True,
      )}
      %endfor
    </ul>
  </div>
  %endif
</div>
%endif

%if obj:
%if "note_list" in obj:
${self.mini.render_note_section(obj["note_list"],
    obj["url"] + "/note", obj["url"],
    note_search, note_order, unlink_url=obj["url"]
)}
%endif
%endif

</%def>
