<%inherit file="base.html"/>



<%def name="title()">
%if obj:
${obj["name"]}
%else:
New ${type_title} Tag
%endif
</%def>

<%def name="logout_url()">
<% return obj and obj.get("public", True) and uri or "/" %>
</%def>



<%def name="page()">

<h1>
%if obj:
<a
   href="${url_rewrite(obj["url"])}"
   >${obj["name"]}</a>
%else:
New ${type_title} Tag
%endif
</h1>

<div class="section">
<%

action = "/%s-tag" % type_url
put = False
if obj:
    action = obj["url"]
    put = True

%>

  %if moderator and (parameters.get("view", None) == "edit"):
  <div class="mango-box left" id="tag-form">
    <form
       class="mango"
       action="${url_rewrite(action)}"
       method="post"
       >
      <input name="_xsrf" type="hidden" value="${xsrf}">
      %if next:
      <input name="next" type="hidden" value="${next}">
      %endif
      %if put:
      <input name="_method" type="hidden" value="put">
      %endif
      %if path_list:
      <label name="path">
	<span>Path</span>
        <span class="select">
          <select name="path">
            <option value=""></option>
            %for path in path_list:
            <option value="${path}">${path}</option>
            %endfor
          </select>
        </span>
      </label>
      %endif
      <label name="name">
	<span>Name</span>
	<input name="name" value="${obj and obj["name"] or ''}">
      </label>
      <label name="name_short">
	<span>Short Name</span>
	<input name="name_short" disabled value="${obj and obj["name_short"] or ''}">
      </label>
      ${self.mini.visibility_input(obj, "public")}
      <input type="submit" value="Submit">
    </form>

    %if obj and type_entity_list in obj and not obj[type_entity_list]:
    ${self.mini.delete_input(obj, next_="/%s-tag" % type_url)}
    %endif

  </div>

  <div class="mango-box right">
    <h3>Suggested existing tags</h3>
    <ul id="tag_list" class="tag_list" class="block-right">
    </ul>
  </div>

  %endif

</div>

%if obj:
<div class="mango-box full" id="tag-links">
  %if obj and type_entity_list in obj:
  <div>
    <h3>${type_title_plural} (${len(obj[type_entity_list])})</h3>
    <ul class="tag_list">
      %for entity in obj[type_entity_list]:
      ${getattr(self.mini, type_li_template)(
        entity,
        link_url=entity["url"] + "/tag/" + str(obj["id"]),
        unlink=len(obj[type_entity_list]),
        visibility=True,
      )}
      %endfor
    </ul>
  </div>
  %endif
</div>
%endif

%if obj:
%if "note_list" in obj:
${self.mini.render_note_section(obj["note_list"],
    obj["url"] + "/note", obj["url"],
    note_search, note_order, unlink_url=obj["url"],
    add_button=moderator,
    parameters=parameters
)}
%endif
%endif

</%def>
