<%inherit file="base.html"/>

<%def name="title()">${type_title} Tags</%def>

<%def name="page()">

<h1>${type_title} Tags</h1>

<div class="action-bar">
  <form id="tag-search">
    <label name="search">
      <span>Search</span>
      <input name="search" value="${search or ''}">
    </label>
    <label name="past">
      <span>Path</span>
      <input type="checkbox" name="path" value="1"${path and ' checked="checked"' or ''}>
    </label>
    ${self.mini.visibility_search_input(visibility, current_user)}
    <div class="actions">
      <input type="submit">
    </div>
  </form>
  %if current_user:
  <div class="actions">
    <a
       class="action"
       href="${url_rewrite("/%s-tag/new" % type_url, parameters)}"
       >Create a tag</a>
  </div>
  %endif
</div>
<ul id="tag_list" class="tag_list">
  %for tag in tag_list:
  ${self.mini.tag_li(tag, entity={
  "len": type_length,
  "url": type_url,
  }, note=True,
  path=path,
  visibility=True, parameters=parameters)}
  %endfor
</ul>

</%def>
