<%inherit file="base.html"/>

<%def name="title()"><%
return u"Users"
%></%def>

<%def name="logout_url()"><% return "/" %></%def>

<%def name="page()">

<h1>
  Users
</h1>

<div class="section">

<ul id="all_users">
  % for user in user_list:
  <li class="user${current_user == user and ' current' or ''}">
    <% hash = user.gravatar_hash() %>
    <a
       href="${url_rewrite("/user/%d" % user.user_id)}"
       >
      <img width="24px" height="24px"
	   src="${protocol}://gravatar.com/avatar/${hash}?d=identicon&s=24">
      ${user.name}
    </a>
    %if user.moderator:
    | Moderator
    %if user.locked:
    (Locked)
    %endif
    %endif
  </li>
  % endfor
</ul>

</div>

</%def>

</body>

</html>
