/* general */

html,
textarea,
input[type="submit"],
input[type="button"]
{
    font-size: 12px;
    font-family: helvetica;
}

a
{
    color: #339;
    text-decoration: none;
}
a:visited
{
    color: #639;
}
a:hover
{
    text-decoration: underline;
}

a.action,
input[type="submit"],
input[type="button"]
{
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 2px 4px;

    color: #333;
    background: #f8f8f8;
}
a.action:hover,
input[type="submit"]:hover,
input[type="button"]:hover
{
    text-decoration: none;
    color: #333;
    border-color: #999;
    cursor: pointer;
}
a.action:active,
input[type="submit"]:active,
input[type="button"]:active
{
    color: #666;
    border-color: #ccc;
    background: #fff;
}

.section
{
    clear: both;
    overflow: auto;
    margin-bottom: 10px;
}

h1
{
    margin: 12px 2px 8px 2px;
}

h2
{
    margin: 12px 2px 8px 2px;
    line-height: 22px;
}

h3
{
    margin: 6px 2px 8px 2px;
    line-height: 22px;
}

label
{
    border: 1px solid #aaa;
    border-radius: 3px;
    background: #ddd;
}

label[status="bad"]
{
    border-color: #caa;
    background: #fcc;
}

label[status="good"]
{
    border-color: #aca;
    background: #cfc;
}

input[disabled="disabled"]
{
    opacity: .5;
}


.sublinks
{
    margin: 2px;
    margin-bottom: 6px;
}

/* page */

body
{
    width: 800px;
    margin: auto;
    padding: 0px;
}

#page
{
    clear: both;
}

div.box
{
    width: 390px;

    margin: 2px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 2px;
}

div.box.full
{
    float: left;
    width: 790px;
}

div.box.left
{
    float: left;
}

div.box.right
{
    float: right;
}

div.center-box
{
    text-align: center;
}

nav,
#account
{
    margin: 4px 0;
}
nav
{
    float: left;
}
#account
{
    float: right;
}
nav a,
#account a,
#visibility a
{
    display: inline-block;
    margin: 2px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0px 6px;
    line-height: 23px;
}
#account img
{
    margin-left: -6px;
    margin-right: 3px;
    vertical-align: middle;
}

#visibility
{
    clear: both;
    float: right;
}
#visibility a.selected
{
    background: #eee;
}

nav a:hover,
#account a:hover,
#visibility a:hover
{
    text-decoration: none;
    background: #ddd;
}


/* forms */

label
{
    float: left;
    display: block;

    width: 384px;

    margin: 0px;
    margin-bottom: 4px;
    padding: 2px;
}
input,
textarea
{
    margin: -2px;
    margin-top: 1px;
    margin-bottom: -5px;
    border: 0px;
    border-top: 1px solid #ccc;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 2px;
}
input
{
    width: 384px;
}
textarea
{
    resize: none;
    height: 100px;
    width: 187px;
}
label.textarea
{
    width: 187px;
}
input[type="button"],
input[type="submit"]
{
    width: 390px;
    margin: 0px;
    padding: 2px 4px;
    margin-bottom: 4px;
}
span.checkbox
{
    margin: 0 2px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 2px;
    padding-top: 3px;
}
input[type="checkbox"]
{
    position: relative;
    top: 2px;
    
}
img.throbber
{
    position: relative;
    top: 4px;
    margin-top: -2px;
}


/* action */

.action-bar form
{
    display: inline;
}

.action-bar
{
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow: visible;
    margin: 2px;
    margin-bottom: 12px;
    padding: 4px;
    line-height: 26px;
}
.action-bar.no-border
{
    margin: 0px;
    border: none;
}
.action-bar.right
{
    text-align: right;
}

.action-bar *
{
    display: inline;
    margin: auto;
    padding: auto;
    width: auto;
}

.action-bar label
{
    float: none;
    border: none;
    background: inherit;
}
.action-bar input
{
    border: 1px solid #ccc;
    border-radius: 3px;
}
.action-bar input[type='submit']
{
    margin-bottom: 0px;
    padding-top: 3px;
    width: auto;
}
.actions
{
    float: right;
    margin: auto;
    text-align: right;
    line-height: 22px;
}
.action-bar.home
{
    margin: auto;
    width: 240px;
    text-align: center;
}
.action-bar.section
{
    clear: both;
}


/* Entity */

.visibility
{
    margin-bottom: 8px;
    border-radius: 2px;
    padding: 2px;
    text-align: center;
    opacity: .75;
}
.visibility.public { background: #cfc; }
.visibility.private { background: #fcc; }
.visibility.pending { background: #ddd; }


/* org */

div.org-box
{
    margin-top: 2px;
    border: 1px solid #aaa;
    padding: 2px;
    border-radius: 3px;
}
div.org_name
{
    padding-bottom: 4px;
}

#org-form
{
    float: left;

    width: 390px;

    margin: 2px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 2px;
}

/* address */

.address_list
{
}

#address-form label[name="lookup"]
{
    float: right;
}
#address-form label[name="source"]
{
    width: 384px;
}
#address-form label[name="source"] textarea
{
    width: 384px;
}
#manual_position_clear
{
    margin-left: 4px;
    width: auto;
    border: 1px solid #aaa;
    padding: 2px;
    border-radius: 3px;
}

div.address-box
{
    margin-top: 2px;
    border: 1px solid #aaa;
    padding: 2px;
    border-radius: 3px;
}
div.address-row
{
    margin: 6px 0;
    overflow: auto;
}
div.address-row .pin
{
    float: left;
    width: 22px;
    padding: 4px;
}
div.address-row .address
{
    max-width: 90%;
    float: left;
}
div.address-row .control
{
    clear: both;
    padding-top: 4px;
}
div.address-row form,
div.address-row input
{
    display: inline;
    width: auto;
}

/* tag */

ul.tag_list
{
    display: inline;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    line-height: 24px;
}
ul.tag_list *
{
    width: auto;
    display: inline;
}
ul.tag_list li
{
    margin: 2px;
    border: 1px solid #ccc;
    padding: 2px 4px;
    border-radius: 3px;
    background: #f8f8f8;
}
ul.tag_list input
{
    margin: 0;
    border: 0;
    padding: 0;
    background: inherit;
    cursor: pointer;

    color: #339;
    text-decoration: none;
}
ul.tag_list input:visited
{
    color: #639;
}
ul.tag_list input:hover
{
    text-decoration: underline;
}
.has-notes
{
    background: #fff;
}

/* note */

.note
{
    border-top: 1px solid #ccc;
    padding: 0;
    overflow: auto;
    padding-top: 2px;
}
.note:first-child
{
    border-top: none;
}
.note-text,
.note-date,
.note-source
{
    padding: 4px;
}
.note-date
{
    display: inline;
    float: left;
    opacity: .5;
    z-index: 10;
}
.note p:first-child
{
    margin-top: 0;
}
.note p:last-child
{
    margin-bottom: 0;
}
.note-source
{
    text-align: right;
    opacity: .5;
}
.note-source > p
{
    margin: 0;
    padding: 0;
}

#note-form label[name="text"],
#note-form label[name="source"]
{
    width: 384px;
}
#note-form label[name="text"] textarea,
#note-form label[name="source"] textarea
{
    width: 384px;
}
#note-form label[name="source"]
{
    float: right;
}
#note-links h3
{
    display: inline;
}


/* map */

#mango-map-box
{
    float: left;

    width: 394px;

    margin: 2px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
#mango-map-canvas
{
    width: 394px;
    height: 294px;
}
#mango-map-box div.caption
{
    border-top: 1px solid #ccc;
    padding: 4px;
}

/* history */

table.history
{
    margin: 0 auto;
}

table.history td
{
    padding: 0 20px;
}

/* dropdown */

div.dropdown
{
    position: relative;
    width: 0;
    height: 0;
}

ul.dropdown
{
    display: none;
    position: absolute;
    top: 18px;
    width: 174px;
    background: white;
    border: 1px solid #ccc;
    margin: 0;
    padding: 0;
    z-index: 20;
}
ul.dropdown li
{
    padding: 4px;
    margin: 0;
    display: block;
    line-height: 16px;
}
ul.dropdown li:hover
{
    background: #eee;
}
