/* general */

#mango
{
    width: 900px;
    text-align: left;
}

#caat-page-links
{
    width: 775px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 80%;
}

#mango,
#mango textarea,
#mango input[type="text"],
#mango input:not([type]),
#mango input[type="submit"],
#mango input[type="button"],
#mango .ui-widget,
#mango .tagit-label
{
    font-size: 12px;
    font-family: helvetica;
    font-weight: normal;
}

#mango a.action,
#mango input[type="submit"],
#mango input[type="button"]
{
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 0 4px;
    margin: 0;
    line-height: 22px;

    color: #333;
    background: #f8f8f8;
}
#mango a.action:hover,
mango input[type="submit"]:hover,
#mango input[type="button"]:hover
{
    text-decoration: none;
    color: #333;
    border-color: #999;
    cursor: pointer;
}
#mango a.action:active,
#mango input[type="submit"]:active,
#mango input[type="button"]:active
{
    color: #666;
    border-color: #ccc;
    background: #fff;
}

#mango p
{
    margin: 10px;
    line-height: 16px;
}

#mango .section
{
    clear: both;
    overflow: auto;
    margin-bottom: 10px;
}

#mango h1
{
    text-align: left;
    margin: 12px 2px 8px 2px;
}

#mango h2
{
    margin: 12px 2px 8px 2px;
    line-height: 22px;
}

#mango h3
{
    margin: 8px 2px;
    line-height: 22px;
}

#mango table
{
    border-collapse: collapse;
    border-spacing: 0;
}

form.mango label
{
    border: 1px solid #aaa;
    border-radius: 2px;
    background: #ddd;
}

form.mango label[status="bad"]
{
    border-color: #caa;
    background: #fcc;
}

form.mango label[status="good"]
{
    border-color: #aca;
    background: #cfc;
}

form.mango input[disabled="disabled"]
{
    opacity: .5;
}


#mango .sublinks
{
    margin: 2px;
    margin-bottom: 6px;
}

#mango p.warning
{
    padding: 6px;
    background: #ffa;
}

/* page */

#mango-page
{
    clear: both;
}

#mango div.mango-box
{
    width: 390px;

    margin: 2px;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 2px;
}

#mango div.mango-box.full
{
    float: left;
    width: 765px;
}

#mango div.mango-box.left
{
    float: left;
}

#mango div.mango-box.right
{
    width: 365px;
    float: left;
}

#mango div.center-box
{
    text-align: center;
}



/* Navigation */

#mango nav
{
    margin: 2px 0;
    line-height: 24px;
}

#mango nav,
#mango nav * 
{
    vertical-align: bottom;
}

#mango nav:before,
#mango nav:after {
    content:"";
    display:table;
}

#mango nav:after {
    clear:both;
}

#nav-pages,
#nav-moderator
{
    float: left;
}

#nav-account,
#nav-parameters
{
    float: right;
}

#mango nav label,
#mango nav a
{
    display: inline-block;
    margin: 2px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 2px;
    padding: 0px 6px;
}

#mango nav a
{
    border-color: #ccc;
}

#mango nav .nav-group
{
    display: inline-block;
}

#mango nav .nav-group a
{
    border-radius: 0;
    border-right: 0;
    margin-right: 0;
    margin-left: 0;
}

#mango nav .nav-group a:first-of-type
{
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    margin-left: 2px;
}

#mango nav .nav-group a:last-of-type
{
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-right: 2px;
    border-right: 1px solid #ccc;
}

#mango nav img
{
    margin-left: -6px;
    margin-right: 3px;
}

#mango nav a:hover
{
    text-decoration: none;
    background: #ddd;
}

#mango nav a.selected
{
    background: #eee;
}



/* Forms */

form.mango label
{
    float: left;
    display: block;

    width: 384px;

    margin: 0px;
    margin-bottom: 4px;
    padding: 2px;
}
form.mango input,
form.mango textarea
{
    margin: -2px;
    margin-top: 1px;
    margin-bottom: -5px;
    border: 0px;
    border-top: 1px solid #ccc;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 2px;
}
form.mango input
{
    width: 384px;
}
form.mango textarea
{
    resize: none;
    height: 100px;
    width: 187px;
}

form.mango label.textarea
{
    width: 187px;
}
form.mango input[type="button"],
form.mango input[type="submit"]
{
    width: 365px;
    margin: 0px;
    padding: 2px 4px;
    margin-bottom: 4px;
}
form.mango span.checkbox
{
    margin: 0 2px;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 2px;
    padding-top: 3px;
}
form.mango span.select
{
    display: block;
    margin: -2px;
    margin-top: 1px;
    border: 0px;
    border-top: 1px solid #ccc;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 2px;
    background: white;
}
form.mango input[type="checkbox"]
{
    position: relative;
    top: 2px;
    
}
#mango img.throbber
{
    position: relative;
    top: 4px;
    margin-top: -2px;
}


/* action */

#mango .action-bar
{
    border: 1px solid #ccc;
    border-radius: 2px;
    overflow: visible;
    margin: 2px;
    margin-bottom: 12px;
    padding: 2px;
    line-height: 26px;
    min-height: 26px;
}
#mango .action-bar.no-border
{
    margin: 4px 2px;
    border: none;
}
#mango .action-bar.right
{
    text-align: right;
}

#mango .action-bar > *,
#mango .action-bar form > *
{
    margin: 0;
    padding: 0;
}

#mango .action-bar form
{
}

#mango .action-bar form:before,
#mango .action-bar form:after
{
    content: "";
    display: table;
}
#mango .action-bar form:after
{
    clear: both;
}

#mango .action-bar h3
{
    float: left;
    width: 80px;
    line-height: 26px;
    padding: 0 4px;
}
#mango .action-bar form .inputs
{
    float: left;
}
#mango .action-bar .actions
{
    margin: 0;
    float: right;
    text-align: right;
    width: 80px;
    padding: 0 2px;
    line-height: 26px;
}

#mango .action-bar label
{
    display: inline-block;
    min-height: 26px;
    padding: 0;
    background: inherit;
}

#mango .action-bar label > span
{
    padding: 0 4px;
}

#mango .action-bar label > input,
#mango .action-bar .actions input[type='submit']
{
    margin: 2px 0;
    border: 1px solid #ccc;
    padding: 0 4px;
    height: 20px;
    line-height: 20px;
    border-radius: 2px;
    vertical-align: bottom;
}

#mango .action-bar .actions input[type='submit']
{
    margin: 2px;
    height: 22px;
}

#mango .action-bar input[type='text'],
#mango .action-bar input:not([type])
{
    display: inline-block;
}

#mango .tagit-choice
{
    line-height: 18px;
    padding: 0 4px;
    padding-right: 20px;
    border-radius: 4px;
}
#mango .action-bar > .actions
{
    float: right;
    margin: auto;
    text-align: right;
    line-height: 26px;
}
#mango ul.pageList
{
    display: inline;
    margin: 0;
    padding: 0;
}

#mango span.resultCount,
#mango ul.pageList > li
{
    display: inline-block;
    margin: 0;
    padding: 0 6px;
}


/* Home */

#mango .home-inline h3
{
    margin-left: 10px;
    display: inline-block;
    width: 100px;
}
#mango .home-inline *
{
    display: inline;
}
#mango .home-inline .action-bar
{
    border: none;
}
#mango .caption ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}
#mango .caption img
{
    display: inline-block;
    padding: 0 5px;
}

/* User */

#mango li.user
{
    width: 240px;

    margin: 6px;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 0;

    line-height: 24px;
}

#mango li.user.current
{
    background: #ddd;
}

#mango li.user,
#mango li.user *
{
    vertical-align: bottom;
}

#mango li.user img
{
    border-right: 1px solid #ccc;
}

#mango div.user-icon
{
    float: left;

    width: 120px;

    margin: 6px;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 6px;

    text-align: center;
}
#mango div.user-icon p
{
    text-align: center;
}

#mango div.user-introduction
{
    float: right;
    width: 600px;

    margin-top: 6px;
    border: 1px solid #ccc;
    padding: 6px;
}

#mango div.user-entities
{
    clear: both;
    margin-top: 6px;
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 6px;
}

#mango div.user-entities > div.org,
#mango div.user-entities > div.event
{
    width: 350px;

    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 6px;
}

#mango div.user-entities > div.org
{
    float: left;
}

#mango div.user-entities > div.event
{
    float: right;
}

/* Entity */

#mango .visibility.bar
{
    opacity: .75;
    border-radius: 2px;
    padding: 2px;
    text-align: center;
}
#mango .visibility.bar.inline
{
    display: inline;
    margin-right: 6px;
}
#mango .visibility.public { background: #cfc; }
#mango .visibility.private { background: #fcc; }
#mango .visibility.pending { background: #ddd; }
#mango .visibility.suggestion { background: #aaf; }


/* search */

#mango p.results-hint
{
    text-align: center;
    padding: 4px;
}

/* org / Event */

#mango div.org-box,
#mango div.event-box
{
    margin-top: 2px;
    border: 1px solid #aaa;
    padding: 2px;
    border-radius: 2px;
}
#mango div.org_name,
#mango div.event_name
{
    padding-bottom: 4px;
}
#mango div.org_description,
#mango div.event_description
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 8px;
    padding-bottom: 4px;
}

#org-form,
#event-form,
#address-form
{
    float: left;

    width: 390px;

    margin: 2px;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 2px;
}

#org-form label[name="description"],
#org-form label[name="description"] textarea,
#event-form label[name="description"],
#event-form label[name="description"] textarea
{
    width: 384px;
}

div.ui-datepicker,
div.ui-timepicker
{
    font-size: 80%;
    color: #333;
    background: #fff;
    border: 1px solid #ccc;
}
div.ui-datepicker .ui-state-default,
div.ui-datepicker .ui-widget-content .ui-state-default,
div.ui-datepicker .ui-widget-header .ui-state-default,
div.ui-timepicker .ui-state-default,
div.ui-timepicker .ui-widget-content .ui-state-default,
div.ui-timepicker .ui-widget-header .ui-state-default
{
    color: #363636;
    background: #ccc;
}

div.ui-datepicker td,
div.ui-timepicker td
{
    border: 1px solid #ccc;
}
div.ui-datepicker td a,
div.ui-datepicker td a.ui-state-highlight,
div.ui-timepicker td a,
div.ui-timepicker td a.ui-state-highlight
{
    background: #bbb;
}
div.ui-datepicker td a.ui-state-active,
div.ui-timepicker td a.ui-state-active
{
    background: #d1b310;
}

#org-search .inputs,
#event-search .inputs
{
    width: 593px;
}
#org-search input[type="text"],
#org-search input:not([type]),
#event-search input[type="text"],
#event-search input:not([type])
{
    width: 180px;
}
#event-search label[name="tag"],
#org-search label[name="tag"]
{
    display: inline-block;
    width: 485px; /* -4 * 2 */
}
#org-search .inputs > label[name="tag"] > span,
#org-search .inputs > label[name="nameSearch"] > span,
#event-search .inputs > label[name="tag"] > span,
#event-search .inputs > label[name="nameSearch"] > span
{
    display: inline-block;
    width: 40px;
}
#org-search label[name="tag"] ul,
#event-search label[name="tag"] ul
{
    display: inline-block;
    margin: 2px 0;
    border: 1px solid #ccc;
    padding: 0;
    width: 432px;
    min-height: 20px;
    vertical-align: bottom;
    border-radius: 2px;
}
#org-search label[name="tag"] li,
#event-search label[name="tag"] li
{
    margin: 0;
}
#org-search label[name="tag"] li.tagit-new,
#event-search label[name="tag"] li.tagit-new
{
    padding: 0;
    border: 0;
    margin: 0;
    line-height: 18px;
}

#org-search label[name="tag"] input,
#event-search label[name="tag"] input
{
    width: 424px;
}
#org-search label[name="tag"] li.tagit-new input,
#event-search label[name="tag"] li.tagit-new input
{
    width: 146px;
}
#mango #org-search label[name="tag"] li.tagit-new input,
#mango #event-search label[name="tag"] li.tagit-new input
{
    margin: 1px 0;
    border: 0;
    padding: 0 4px;
    line-height: 18px;
    vertical-align: bottom;
}
.ui-autocomplete
{
    border: 1px solid #ccc;
}

/* address */

#mango .address_list
{
}

#contact-form label,
#contact-form label textarea
{
    clear: both;
}
#contact-form label[name="source"],
#contact-form label[name="source"] textarea
{
    width: 359px;
}

#address-form label[name="lookup"]
{
    float: right;
}
#address-form label[name="lookup"],
#address-form label[name="lookup"] textarea
{
    width: 188px;
}
#address-form label[name="source"],
#address-form label[name="source"] textarea
{
    width: 359px;
}
#manual_position_clear
{
    margin-left: 4px;
    width: auto;
    border: 1px solid #aaa;
    padding: 2px;
    border-radius: 2px;
}

#mango div.contact-box
{
    margin-top: 2px;
    border: 1px solid #aaa;
    padding: 2px;
    border-radius: 2px;
}
#mango div.contact-box .actions
{
    float: right;
    clear: both;
}
#mango div.contact-row
{
    margin: 4px;
    overflow: auto;
}
#mango div.contact-row .contact
{
    float: left;
}
#mango div.contact-row .control
{
    clear: both;
    padding-top: 4px;
}
#mango div.contact-row form,
#mango div.contact-row input
{
    display: inline;
    width: auto;
}

#mango div.org-name-box
{
    margin: 0;
    border: 0;
    padding: 0;
    padding-left: 22px;
}

#mango div.address-box
{
    margin: 0;
    border: 0;
    border-top: 1px solid #eee;
    padding: 2px;
}
#mango div.address-box:first-child
{
    border-top: 0;
}
#mango div.address-box .actions
{
    float: right;
    clear: both;
}
#mango div.address-row
{
    margin: 4px;
    overflow: auto;
}
#mango div.address-row .pin
{
    float: left;
    width: 22px;
    padding: 4px;
}
#mango div.address-row .address
{
    max-width: 90%;
    float: left;
}
#mango div.address-row .control
{
    clear: both;
    padding-top: 4px;
}
#mango div.address-row form,
#mango div.address-row input
{
    display: inline;
    width: auto;
}

/* tag */

#mango ul.alias_list,
#mango ul.tag_list
{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    line-height: 18px;
}
#mango ul.alias_list *,
#mango ul.tag_list *
{
    width: auto;
    display: inline;
}
#mango ul.alias_list li,
#mango ul.tag_list li
{
    display: inline-block;
    margin: 2px;
    border: 1px solid #ccc;
    padding: 0 4px;
    height: 18px;
    line-height: 18px;
    border-radius: 2px;
    background: #f8f8f8;
}
#mango ul.alias_list li.has-visibility,
#mango ul.tag_list li.has-visibility
{
    padding-right: 0;
}
#mango ul.alias_list input,
#mango ul.tag_list input
{
    height: 18px;
    line-height: 18px;

    margin: 0;
    border: 0;
    padding: 0;
    background: inherit;
    cursor: pointer;

    color: #339;
    text-decoration: none;
}
#mango ul.alias_list input:visited,
#mango ul.tag_list input:visited
{
    color: #639;
}
#mango ul.alias_list input:hover,
#mango ul.tag_list input:hover
{
    text-decoration: underline;
}
#mango #tag-search
{
    float: left;
    width: 350px;
}
#mango #tag-search input[name='search']
{
    width: 150px;
}

#mango .has-notes
{
    background: #fff;
}

/* note */

#mango .note
{
    border-top: 1px solid #ccc;
    padding: 0;
    overflow: auto;
    padding-top: 2px;
}
#mango .note:first-child
{
    border-top: none;
}
#mango .note-text,
#mango .note-date,
#mango .note-source
{
    padding: 4px;
}
#mango .note-date
{
    display: inline;
    float: left;
    opacity: .5;
    z-index: 10;
}
#mango .note p:first-child
{
    margin-top: 0;
}
#mango .note p:last-child
{
    margin-bottom: 0;
}
#mango .note-source
{
    text-align: right;
    opacity: .5;
}
#mango .note-source > p
{
    margin: 0;
    padding: 0;
}

#note-form label[name="text"],
#note-form label[name="source"]
{
    width: 359px;

}
#note-form label[name="text"] textarea,
#note-form label[name="source"] textarea
{
    width: 359px;
}
#note-form label[name="source"]
{
    float: right;
}
#note-links h3
{
    display: inline;
}


/* map */

#mango-map-box
{
    float: left;

    width: 369px;

    margin: 2px;
    border: 1px solid #ccc;
    border-radius: 2px;
}
#mango-map-canvas
{
    width: 369px;
    height: 360px;
}
#mango-map-box div.caption
{
    border-top: 1px solid #ccc;
    padding: 4px;
}

/* History */

#mango table.history
{
    width: 100%;
    margin: 0;
}

#mango table.history td,
#mango table.history th
{
    border: 1px solid #ddd;
    padding: 0 6px;
    
    line-height: 24px;
}

#mango table.history td .ellipsis
{
    display: inline-block;
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#mango table.history td.user img
{
    vertical-align: bottom;
}

#mango table.history td.revision.deleted
{
    background: #ddd;
}


/* Markdown */

#mango .markdown
{
    text-align: left;
}

/* Revision */

#mango table.revision,
#mango table.revision tr,
#mango table.revision th,
#mango table.revision td
{
    border: 1px solid #ddd;
}

#mango table.revision th
{
    background: #f8f8f8;
}

#mango table.revision th,
#mango table.revision td
{
    width: 375px;
    text-align: center;
    padding: 4px;
    vertical-align: top;
}

/* Queue */

#mango table.queue
{
    width: 100%
}

#mango table.queue th,
#mango table.queue td
{
    width: 50%;
    border: 1px solid #ddd;
    vertical-align: top;
    line-height: 22px;

}

#mango table.queue ul
{
    margin: 0;
    padding-left: 12px;
}
#mango table.queue li
{
    padding: 4px;
    list-style: none;
}

/* Register */

#mango table.register
{
    table-layout: fixed;
}
#mango table.register td
{
    vertical-align: top;
    width: 50%;
}
#mango table.register td.action
{
    padding: 12px;
    text-align: center;
}





/* Social */

.mango-social-bar
{
    margin: 2px;
    margin-top: 4px;
    margin-bottom: 10px;
    display: none;
}
.mango-social-bar > a
{
    display: block;
    border-radius: 4px;
    background: #33BCF1;
}
.mango-social-bar > a:before,
.mango-social-bar > a:after
{
    content: "";
    display: table;
}
.mango-social-bar > a:after
{
    clear: both;
}

#mango .mango-social-bar p
{
    float: left;
    width: 310px;
    min-height: 27px;
    margin: 2px 6px;
    padding: 4px;
    border-radius: 4px;
    color: #333;
    background: #fff;
}


