/* general */

#mango
{
    width: 800px;
}

#caat-page-links
{
    width: 800px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 80%;
}

#mango,
#mango textarea,
#mango input[type="submit"],
#mango input[type="button"]
{
    font-size: 12px;
    font-family: helvetica;
}

#mango a.action,
#mango input[type="submit"],
#mango input[type="button"]
{
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 2px 4px;

    color: #333;
    background: #f8f8f8;
}
#mango a.action:hover,
#mango input[type="submit"]:hover,
#mango input[type="button"]:hover
{
    text-decoration: none;
    color: #333;
    border-color: #999;
    cursor: pointer;
}
#mango a.action:active,
#mango input[type="submit"]:active,
#mango input[type="button"]:active
{
    color: #666;
    border-color: #ccc;
    background: #fff;
}

#mango p
{
    margin: 10px;
    line-height: 16px;
}

#mango .section
{
    clear: both;
    overflow: auto;
    margin-bottom: 10px;
}

#mango h1
{
    text-align: left;
    margin: 12px 2px 8px 2px;
}

#mango h2
{
    margin: 12px 2px 8px 2px;
    line-height: 22px;
}

#mango h3
{
    margin: 6px 2px 8px 2px;
    line-height: 22px;
}

#mango label
{
    border: 1px solid #aaa;
    border-radius: 3px;
    background: #ddd;
}

#mango label[status="bad"]
{
    border-color: #caa;
    background: #fcc;
}

#mango label[status="good"]
{
    border-color: #aca;
    background: #cfc;
}

#mango input[disabled="disabled"]
{
    opacity: .5;
}


#mango .sublinks
{
    margin: 2px;
    margin-bottom: 6px;
}

/* page */

#page
{
    clear: both;
}

#mango div.box
{
    width: 390px;

    margin: 2px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 2px;
}

#mango div.box.full
{
    float: left;
    width: 790px;
}

#mango div.box.left
{
    float: left;
}

#mango div.box.right
{
    float: right;
}

#mango div.center-box
{
    text-align: center;
}

#mango nav,
#account
{
    margin: 4px 0;
}
#mango nav
{
    float: left;
}
#account
{
    float: right;
}
#mango nav a,
#account a,
#visibility a
{
    display: inline-block;
    margin: 2px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0px 6px;
    line-height: 23px;
}
#mango nav .nav-group
{
    display: inline-block;
}
#mango nav .nav-group a
{
    border-radius: 0;
    border-right: 0;
    margin-right: 0;
    margin-left: 0;
}
#mango nav .nav-group a:first-of-type
{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-left: 2px;
}
#mango nav .nav-group a:last-of-type
{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-right: 2px;
    border-right: 1px solid #ccc;
}
#account img
{
    margin-left: -6px;
    margin-right: 3px;
    vertical-align: middle;
}

#visibility
{
    clear: both;
    float: right;
}
#visibility a.selected
{
    background: #eee;
}

#mango nav a:hover,
#account a:hover,
#visibility a:hover
{
    text-decoration: none;
    background: #ddd;
}



/* forms */

#mango label
{
    float: left;
    display: block;

    width: 384px;

    margin: 0px;
    margin-bottom: 4px;
    padding: 2px;
}
#mango input,
#mango textarea
{
    margin: -2px;
    margin-top: 1px;
    margin-bottom: -5px;
    border: 0px;
    border-top: 1px solid #ccc;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 2px;
}
#mango input
{
    width: 384px;
}
#mango textarea
{
    resize: none;
    height: 100px;
    width: 187px;
}
#mango label.textarea
{
    width: 187px;
}
#mango input[type="button"],
#mango input[type="submit"]
{
    width: 390px;
    margin: 0px;
    padding: 2px 4px;
    margin-bottom: 4px;
}
#mango span.checkbox
{
    margin: 0 2px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 2px;
    padding-top: 3px;
}
#mango input[type="checkbox"]
{
    position: relative;
    top: 2px;
    
}
#mango img.throbber
{
    position: relative;
    top: 4px;
    margin-top: -2px;
}


/* action */

#mango .action-bar form
{
    display: inline;
}

#mango .action-bar input[type='text'],
#mango .action-bar input:not([type])
{
    width: 146px;
}

#mango .action-bar
{
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow: visible;
    margin: 2px;
    margin-bottom: 12px;
    padding: 4px;
    line-height: 26px;
}
#mango .action-bar.no-border
{
    margin: 0px;
    border: none;
}
#mango .action-bar.right
{
    text-align: right;
}

#mango .action-bar *
{
    display: inline;
    margin: auto;
    padding: auto;
    width: auto;
}

#mango .action-bar label
{
    float: none;
    border: none;
    background: inherit;
}
#mango .action-bar input
{
    border: 1px solid #ccc;
    border-radius: 3px;
}
#mango .action-bar input[type='submit']
{
    margin-bottom: 0px;
    padding-top: 3px;
    width: auto;
}
#mango .actions
{
    float: right;
    margin: auto;
    text-align: right;
    line-height: 22px;
}
#mango .action-bar.home
{
    margin: auto;
    width: 240px;
    text-align: center;
}
#mango .action-bar.section
{
    clear: both;
}

/* Home */

#mango .home-inline h3
{
    margin-left: 10px;
    display: inline-block;
    width: 100px;
}
#mango .home-inline div
{
    display: inline;
}
#mango .home-inline .action-bar
{
    border: none;
}
#mango .caption ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}
#mango .caption img
{
    display: inline-block;
    padding: 0 5px;
}

/* Entity */

#mango .visibility
{
    margin-bottom: 8px;
    border-radius: 2px;
    padding: 2px;
    text-align: center;
    opacity: .75;
}
#mango .visibility.public { background: #cfc; }
#mango .visibility.private { background: #fcc; }
#mango .visibility.pending { background: #ddd; }


/* org / Event */

#mango div.org-box,
#mango div.event-box
{
    margin-top: 2px;
    border: 1px solid #aaa;
    padding: 2px;
    border-radius: 3px;
}
#mango div.org_name,
#mango div.event_name
{
    padding-bottom: 4px;
}

#org-form,
#event-form
{
    float: left;

    width: 390px;

    margin: 2px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 2px;
}

#event-form label[name="description"],
#event-form label[name="description"] textarea
{
    width: 384px;
}

/* address */

#mango .address_list
{
}

#address-form label[name="lookup"]
{
    float: right;
}
#address-form label[name="source"],
#address-form label[name="source"] textarea
{
    width: 384px;
}
#manual_position_clear
{
    margin-left: 4px;
    width: auto;
    border: 1px solid #aaa;
    padding: 2px;
    border-radius: 3px;
}

#mango div.address-box
{
    margin-top: 2px;
    border: 1px solid #aaa;
    padding: 2px;
    border-radius: 3px;
}
#mango div.address-row
{
    margin: 6px 0;
    overflow: auto;
}
#mango div.address-row .pin
{
    float: left;
    width: 22px;
    padding: 4px;
}
#mango div.address-row .address
{
    max-width: 90%;
    float: left;
}
#mango div.address-row .control
{
    clear: both;
    padding-top: 4px;
}
#mango div.address-row form,
#mango div.address-row input
{
    display: inline;
    width: auto;
}

/* tag */

#mango ul.alias_list,
#mango ul.tag_list
{
    display: inline;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    line-height: 24px;
}
#mango ul.alias_list *,
#mango ul.tag_list *
{
    width: auto;
    display: inline;
}
#mango ul.alias_list li,
#mango ul.tag_list li
{
    margin: 2px;
    border: 1px solid #ccc;
    padding: 2px 4px;
    border-radius: 3px;
    background: #f8f8f8;
}
#mango ul.alias_list input,
#mango ul.tag_list input
{
    margin: 0;
    border: 0;
    padding: 0;
    background: inherit;
    cursor: pointer;

    color: #339;
    text-decoration: none;
}
#mango ul.alias_list input:visited,
#mango ul.tag_list input:visited
{
    color: #639;
}
#mango ul.alias_list input:hover,
#mango ul.tag_list input:hover
{
    text-decoration: underline;
}
#mango .has-notes
{
    background: #fff;
}

/* note */

#mango .note
{
    border-top: 1px solid #ccc;
    padding: 0;
    overflow: auto;
    padding-top: 2px;
}
#mango .note:first-child
{
    border-top: none;
}
#mango .note-text,
#mango .note-date,
#mango .note-source
{
    padding: 4px;
}
#mango .note-date
{
    display: inline;
    float: left;
    opacity: .5;
    z-index: 10;
}
#mango .note p:first-child
{
    margin-top: 0;
}
#mango .note p:last-child
{
    margin-bottom: 0;
}
#mango .note-source
{
    text-align: right;
    opacity: .5;
}
#mango .note-source > p
{
    margin: 0;
    padding: 0;
}

#note-form label[name="text"],
#note-form label[name="source"]
{
    width: 384px;
}
#note-form label[name="text"] textarea,
#note-form label[name="source"] textarea
{
    width: 384px;
}
#note-form label[name="source"]
{
    float: right;
}
#note-links h3
{
    display: inline;
}


/* map */

#mango-map-box
{
    float: left;

    width: 394px;

    margin: 2px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
#mango-map-canvas
{
    width: 394px;
    height: 294px;
}
#mango-map-box div.caption
{
    border-top: 1px solid #ccc;
    padding: 4px;
}

/* history */

#mango table.history
{
    margin: 0 auto;
}

#mango table.history td
{
    padding: 0 20px;
}

/* dropdown */

#mango div.dropdown
{
    position: relative;
    width: 0;
    height: 0;
}

#mango ul.dropdown
{
    display: none;
    position: absolute;
    top: 18px;
    width: 174px;
    background: white;
    border: 1px solid #ccc;
    margin: 0;
    padding: 0;
    z-index: 20;
}
#mango ul.dropdown li
{
    padding: 4px;
    margin: 0;
    display: block;
    line-height: 16px;
}
#mango ul.dropdown li:hover
{
    background: #eee;
}


/* Event markdown */

#mango .description.markdown-preview
{
    height: 300px;
    overflow-y: auto;
}