<div class="event_name">
  <%= m.templator.render("visibility-bar.html", {obj: event, inline: true}) %>
  <span class="startDate"><%= m.filter.pageDate(event["startDate"]) %></span>
  <% if (event["startTime"]) { %>
  <span class="time"><%= event["startTime"] %></span>
  <% } %>
  -
  <% if (event["endDate"] != event["startDate"]) { %>
  <span class="endDate"><%= m.filter.pageDate(event["endDate"]) %></span>
  <% } %>
  <% if (event["endTime"]) { %>
  <span class="time"><%= event["endTime"] %></span>
  <% } %>
</div>

<div class="event_name">
  <a
     href="<%= m.urlRewrite(event["url"], parameters) %>"
     ><%= m.filter.h(event["name"]) %></a>
</div>

<% if (tag && event.tag_list) { %>
<ul class="tag_list">
  <% for (t in event["tagList"]) { %>
  <% var tag = event["tagList"][t]; %>
  <li class="eventtag">
    <a
       href="<%= m.urlRewrite(tag["url"], parameters) %>"
       ><%= m.filter.h(tag["name"]) %></a>
  </li>
  <% } %>
</ul>
<% } %>

<div class="event_address_list">
</div>

<div class="address-row">
</div>

<% if (note && event.note_list) { %>
<div class="note_len">
  <%= event["noteList"].length %>
</div>
<% } %>
