<h3>Filter</h3>
<%= m.template("visibility-search-input.html", {
    visibility: eventSearch.visibility,
    currentUser: currentUser
    }) %>
<input type="hidden" name="offset" value="<%= eventSearch.offset || "" %>">
<div class="inputs">
  <label name="nameSearch">
    <span>Name</span>
    <input
       name="nameSearch"
       value="<%= eventSearch.nameSearch || "" %>"
       placeholder="Eg. Arms fair">
  </label>
  <label name="location">
    <span>Location</span>
    <input
       name="location"
       value="<%= eventSearch.location ? eventSearch.location.toText() : "" %>"
       placeholder="Eg. NW1">
  </label>
  <label name="past">
    <span>Show past</span>
    <input type="checkbox" name="past" value="1"<%=eventSearch.past ? ' checked="checked"' : ''%>>
  </label>
  <label name="tag">
    <span>Tags</span>
    <input
       name="tag"
       value="<%= eventSearch.tag || "" %>"
       placeholder="Eg. protest, vigil, meeting">
  </label>
  <label name="tagAll">
    <span>Match all tags</span>
    <input type="checkbox" name="tagAll" value="1"<%=eventSearch.tagAll ? ' checked="checked"' : ''%>>
  </label>
</div>
<div class="actions">
  <input type="submit" value="Submit">
</div>

