VISIBILITY
<input type="hidden" name="offset" value="0">
<label name="name_search">
  <span>Name</span>
  <input
     name="name_search"
     value="<%= nameSearch || "" %>"
     placeholder="Eg. BAE Systems">
</label>
<label name="lookup">
  <span>Location</span>
  <input
     name="lookup"
     value="<%= lookup || "" %>"
     placeholder="Eg. NW1">
</label>
<label name="tag">
  <span>Tags</span>
  <div class="dropdown">
    <ul class="dropdown">
    </ul>
  </div>
  TAG
</label>
<input type="submit">

