<h3>Filter</h3>
<%= m.template("visibility-search-input.html", {
    visibility: orgSearch.visibility,
    currentUser: currentUser
    }) %>
<input type="hidden" name="offset" value="<%= orgSearch.offset || 0 %>">
<div class="inputs">
  <label name="nameSearch">
    <span>Name</span>
    <input
       name="nameSearch"
       value="<%= orgSearch.nameSearch || "" %>"
       placeholder="Eg. BAE Systems">
  </label>
  <label name="location">
    <span>Location</span>
    <input
       name="location"
       value="<%= orgSearch.location || "" %>"
       placeholder="Eg. NW1">
  </label>
  <label name="tag">
    <span>Tags</span>
    <input
       name="tag"
       value="<%= orgSearch.tag || "" %>"
       placeholder="Eg. missiles, tanks">
  </label>
</div>
<div class="actions">
  <input type="submit">
</div>

